{% extends 'accounts/base_dashboard.html' %}

{% load static %}

{% block title %}Empresas{% endblock %}
{% block header %}Empresas{% endblock %}

{% block content %}

<!-- SECCION DE TITULO ENCABEZANDO DIV -->
<div class="row">
    <div class="col">
        <h1 class="text-center">Empresas</h1>
        <hr class="featurette-divider">
    </div>
</div>

<div class="row mb-3 justify-content-end">
    <div class="col-auto">
        <input type="text" id="searchInput" class="form-control" onkeyup="filterTable('searchInput', 'empresasTable')" placeholder="Buscar empresas...">
    </div>
    <div class="col-auto">
        <a href="{% url 'servicio_new' %}" class="btn btn-primary">Agregar Empresa</a>
    </div>
</div>

<!-- TABLA -->
<div class="row">
    <div class="table-responsive" style="max-height: 75vh; overflow-y: auto;">
        <table id="empresasTable" class="table table-hover" >
            <!-- ENCABEZADO DE TABLA -->
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>Empresa</th>
                    <th>RFC</th>
                    <th>Direccion</th>
                    <th>Moneda</th>
                    <th>Condiciones de pago</th>
                    <th colspan="2">Opciones</th>
                </tr>
            </thead>

            <!-- CUERPO DE TABLA -->
            <tbody>
                {% for e in empresas %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ e.nombre_empresa }}</td>
                    <td>{{ e.rfc }}</td>
                    <td>{{ e.direccion }}</td>
                    <td>{{ e.moneda }}</td>
                    <td>{{ e.condiciones_pago }}</td>
                    <td><a href="{% url 'empresa_edit' e.id %}" class="btn btn-info btn-sm">Editar</a></td>
                    <td><a href="{% url 'empresa_delete' e.id %}" class="btn btn-danger btn-sm">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr class="featurette-divider">
</div>

{% endblock %}
