{% extends 'accounts/base_dashboard.html' %}
{% load static %}
{% block title %}Empresas{% endblock %}
{% block header %}Empresas{% endblock %}

{% block content %}
<div class="container-xxl">

    <!-- SECCION DE TITULO ENCABEZANDO DIV -->
    <div class="row">
        <div class="col">
            <h1 class="text-center">Empresas</h1>
        </div>
    </div>

    <!-- BUSCADOR -->
    <div class="row mb-3 justify-content-center">
        <div class="col-md-6">
            <div class="input-group mb-3">
                <input type="text" id="searchInput" class="form-control" placeholder="Buscar empresas..." onkeyup="filterTable('searchInput', 'empresasTable')">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" onclick="filterTable('searchInput', 'empresasTable')">Buscar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3 justify-content-end">
        <div class="col-auto">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createEmpresaModal"> Añadir Empresa </button>
        </div>
    </div>

    <!-- TABLA -->
    <div class="row">
        <div class="table-responsive" style="max-height: 75vh; overflow-y: auto;">
            <table id="empresasTable" class="table table-hover" >
                <!-- ENCABEZADO DE TABLA -->
                <thead class="thead-light">
                    <tr>
                        <th><a class="link-secondary" href="?order_by=id">#</a></th>
                        <th><a class="link-secondary" href="?order_by=nombre_empresa">Empresa</a></th>
                        <th><a class="link-secondary" href="?order_by=rfc">RFC</a></th>
                        <th><a class="link-secondary" href="?order_by=direccion">Direccion</a></th>
                        <th colspan="1"></th>
                    </tr>
                </thead>

                <!-- CUERPO DE TABLA -->
                <tbody>
                    {% for e in empresas_page %}
                    <tr>
                        <td>{{ e.id }}</td>
                        <td>{{ e.nombre_empresa }}</td>
                        <td>{{ e.rfc }}</td>
                        <td>{{ e.direccion }}</td>
                        <td>
                            <a href="{% url 'empresa_edit' e.id %}" class="btn btn-primary btn-sm">
                                <img src="{% static 'img/pencil-square.svg' %}" style="filter: invert(1);">
                            </a>
                            <a href="{% url 'empresa_delete' e.id %}" class="btn btn-danger btn-sm">
                                <img src="{% static 'img/x-square.svg' %}" style="filter: invert(1);">
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

    <div class="container-xxl">
        <div class="alert alert-info" role="alert">
            <strong>Número de empresas:</strong> {{ empresas_page.paginator.count }}
        </div>
        <nav aria-label="Paginación de empresas">
            <ul class="pagination justify-content-center">
                {% if empresas_page.has_previous %}
                <li class="page-item">
                    <a href="?page=1&order_by={{ request.GET.order_by }}" class="btn btn-light btn-sm">Primera</a>
                </li>
                <li class="page-item">
                    <a href="?page={{ empresas_page.previous_page_number }}&order_by={{ request.GET.order_by }}"
                        class="btn btn-light btn-sm">Anterior</a>
                </li>
                {% endif %}
                <li class="page-item disabled">
                    <div class="m-1">Página {{ empresas_page.number }} de {{ empresas_page.paginator.num_pages }}.</div>
                </li>
                {% if empresas_page.has_next %}
                <li class="page-item">
                    <a href="?page={{ empresas_page.next_page_number }}&order_by={{ request.GET.order_by }}"
                        class="btn btn-light btn-sm">Siguiente</a>
                </li>
                <li class="page-item">
                    <a href="?page={{ empresas_page.paginator.num_pages }}&order_by={{ request.GET.order_by }}"
                        class="btn btn-light btn-sm">Última</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    
</div>

<!-- Modal para crear una nueva empresa -->
<div class="modal fade" id="createEmpresaModal" tabindex="-1" aria-labelledby="createEmpresaLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="createEmpresaLabel">Registrar Empresa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form method="post" action="{% url 'empresa_create' %}" id="newEmpresa">
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="text-start col">
                            <h6 class="text-center text-primary">Registro</h6>
                            <p>
                                {{ empresa_form.nombre_empresa.label_tag }} <code>*</code>
                                {{ empresa_form.nombre_empresa }}
                                {{ empresa_form.nombre_empresa.errors }}
                                <small class="form-text text-muted">Ingrese el nombre registrado legalmente de la empresa.</small>
                            </p>
                            <p>
                                {{ empresa_form.regimen_fiscal.label_tag }}
                                {{ empresa_form.regimen_fiscal }}
                                {{ empresa_form.regimen_fiscal.errors }}
                                <small class="form-text text-muted">Ingrese regimen fiscal.</small>
                            </p>
                            <p>
                                {{ empresa_form.moneda.label_tag }}
                                {{ empresa_form.moneda }}
                                {{ empresa_form.moneda.errors }}
                                <small class="form-text text-muted">Elije un tipo de moneda.</small>
                            </p>
                            <p>
                                {{ empresa_form.condiciones_pago.label_tag }}
                                {{ empresa_form.condiciones_pago }}
                                {{ empresa_form.condiciones_pago.errors }}
                                <small class="form-text text-muted">Ingrese los días condicionados para plasis de pago.</small>
                            </p>
                        </div>
                        <div class="col">
                            <h6 class="text-center text-primary">Dirección</h6>
                            <p>
                                {{ empresa_form.calle.label_tag }}<code>*</code>
                                {{ empresa_form.calle }}
                                {{ empresa_form.calle.errors }}
                            </p>
                            <p>
                                {{ empresa_form.numero.label_tag }}<code>*</code>
                                {{ empresa_form.numero }}
                                {{ empresa_form.numero.errors }}
                            </p>
                            <p>
                                {{ empresa_form.colonia.label_tag }}<code>*</code>
                                {{ empresa_form.colonia }}
                                {{ empresa_form.colonia.errors }}
                            </p>
                            <p>
                                {{ empresa_form.ciudad.label_tag }}<code>*</code>
                                {{ empresa_form.ciudad }}
                                {{ empresa_form.ciudad.errors }}
                            </p>
                            <p>
                                {{ empresa_form.codigo.label_tag }}<code>*</code>
                                {{ empresa_form.codigo }}
                                {{ empresa_form.codigo.errors }}
                            </p>
                            <p>
                                {{ empresa_form.estado.label_tag }}<code>*</code>
                                {{ empresa_form.estado }}
                                {{ empresa_form.estado.errors }}
                            </p>
                        </div>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success" form="newEmpresa">Crear Empresa</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
