{% extends 'accounts/base_dashboard.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block header %}Home{% endblock %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
<style>
    .card-custom {
        height: 22rem;
        width: 18rem;
    }

    .card-icon {
        font-size: 5rem;
    }
</style>

<div class="container-xxl">

    <div class=" mt-4 mb-4">
        <h4 class="mb-4">Cotizaciones</h4>

        <div class="progress mb-3" style="height: 30px;">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 0%;"
                id="progressBar">
                0%
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Total de Cotizaciones:
                        <span class="badge bg-primary rounded-pill">{{ total_cotizaciones }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Cotizaciones Aceptadas:
                        <span class="badge bg-success rounded-pill">{{ cotizaciones_aceptadas }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="d-flex flex-wrap justify-content-center">

            <!-- BOTON PARA EMPRESAS -->
            <a href="{% url 'empresas_cont_list' %}" class="text-decoration-none">
                <div class="card m-2 card-custom">
                    <div class="card-img-top p-1 text-center">
                        <i class="bi bi-buildings card-icon"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Empresas</h5>
                        <p class="card-text">"Consulta la información de las empresas que han sido parte de nuestros
                            procesos y gestiona la información"</p>
                    </div>
                </div>
            </a>

        <!-- BOTON PARA CREAR CLIENTES -->
        <a href="{% url 'lista_clientes' %}" class="text-decoration-none">
            <div class="card m-2 card-custom">
                <div class="card-img-top p-1 text-center">
                    <i class="bi bi-person-plus card-icon"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Clientes</h5>
                    <p class="card-text">"Registra nuevos clientes fácilmente para mejorar la gestión y el seguimiento
                        de tus interacciones. ¡Empieza ahora!"</p>
                </div>
            </div>
        </a>

        <!-- BOTON PARA ADMINISTRAR SERVICIOS -->
        <a href="{% url 'servicios_list' %}" class="text-decoration-none">
            <div class="card m-2 card-custom">
                <div class="card-img-top p-1 text-center">
                    <i class="bi bi-droplet-half card-icon"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Servicios</h5>
                    <p class="card-text">"Explora nuestros servicios de análisis y muestreo ambiental. Precisión y
                        calidad para responder a tus necesidades."</p>
                </div>
            </div>
        </a>

        <!-- BOTON PARA COTIZAR -->
        <a href="{% url 'cotizaciones_list' %}" class="text-decoration-none">
            <div class="card m-2 card-custom">
                <div class="card-img-top p-1 text-center">
                    <i class="bi bi-pencil card-icon"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Cotizar</h5>
                    <p class="card-text">"Inicia el proceso para crear cotizaciones completas: registra datos,
                        selecciona servicios y envía el PDF final por correo. ¡Comienza ahora!"</p>
                </div>
            </div>
        </a>

        <!-- BOTON PARA GENERAR ORDEN DE TRABAJO -->
        <a href="{% url 'ordenes_list' %}" class="text-decoration-none">
            <div class="card m-2 card-custom">
                <div class="card-img-top p-1 text-center">
                    <i class="bi bi-clipboard-data card-icon"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Generar Orden de Trabajo</h5>
                    <p class="card-text">Inicia el proceso para formalizar una orden de trabajo: registra los detalles
                        necesarios, asigna recursos y agenda la ejecución. ¡Optimiza tu flujo de trabajo ahora!</p>
                </div>
            </div>
        </a>



        <!-- BOTON PARA CREAR USUARIOS DEL SISTEMA -->
        <a href="{% url 'usuario_list' %}" class="text-decoration-none">
            <div class="card m-2 card-custom">
                <div class="card-img-top p-1 text-center">
                    <i class="bi bi-people card-icon"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Usuarios</h5>
                    <p class="card-text">"Registra nuevos usuarios en el sistema de cotizaciones INADE."</p>
                </div>
            </div>
        </a>

        <!-- BOTON PARA FORMATO -->
        <a href="{% url 'config_org' %}" class="text-decoration-none">
            <div class="card m-2 card-custom">
                <div class="card-img-top p-1 text-center">
                    <i class="bi bi-gear-wide-connected card-icon"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Configuración de la organizacion</h5>
                    <p class="card-text">"Revisa la información de la organización y gestiónala."</p>
                </div>
            </div>
        </a>

        <!-- BOTON PARA FORMATO -->
        <a href="{% url 'facturas_list' %}" class="text-decoration-none">
            <div class="card m-2 card-custom">
                <div class="card-img-top p-1 text-center">
                    <i class="bi bi-cash card-icon"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Facturas</h5>
                    <p class="card-text">"Factura todas tus ordenes de trabajo."</p>
                </div>
            </div>
        </a>
    </div>
    
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        // Obtener los datos desde el contexto de Django
        const totalCotizaciones = parseInt("{{ total_cotizaciones }}", 10) || 0;
        const cotizacionesAceptadas = parseInt("{{ cotizaciones_aceptadas }}", 10) || 0;

        // Calcular el porcentaje de cotizaciones aceptadas
        const porcentajeAceptadas = totalCotizaciones > 0 ? (cotizacionesAceptadas / totalCotizaciones) * 100 : 0;

        // Actualizar la barra de progreso
        const progressBar = document.getElementById('progressBar');
        progressBar.style.width = `${porcentajeAceptadas}%`;
        progressBar.textContent = `${porcentajeAceptadas.toFixed(2)}%`;

        // Añadir una clase para animar la barra de progreso si es mayor que cero
        if (porcentajeAceptadas > 0) {
            progressBar.classList.add('progress-bar-animated');
        } else {
            progressBar.classList.remove('progress-bar-animated');
        }
    });

</script>
{% endblock %}