<!-- accounts/templates/accounts/organizacion/enviar_queja.html -->
{% extends 'accounts/base_dashboard.html' %}
{% load static %}
{% block title %}Queja{% endblock %}
{% block header %}Queja{% endblock %}
{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <h1>Enviar Solicitud de Queja</h1>
            </div>
            <div class="col col3">
                <!-- Spinner -->
                <div id="loading" style="display: none;" class="text-center text-primary">
                    <div class="spinner-border" role="status">
                            <span class="visually-hidden">Cargando...</span>
                    </div>
                    <p>Por favor, espera...</p>
                </div>
            </div>
        </div>
        
        
        <form method="post" enctype="multipart/form-data" id="quejita">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_asunto" class="form-label">Asunto</label>
                {{ form.asunto }}
            </div>
            <div class="mb-3">
                <label for="id_mensaje" class="form-label">Mensaje</label>
                {{ form.mensaje }}
            </div>
            <div class="mb-3">
                <label for="id_prioridad" class="form-label">Prioridad</label>
                {{ form.prioridad }}
            </div>
            <div class="mb-3">
                <label for="id_archivo_adjunto" class="form-label">Archivo Adjunto (opcional)</label>
                {{ form.archivo_adjunto }}
            </div>
            <div class="text-end">
                <button type="submit" class="btn btn-success">Enviar Solicitud de Queja</button>
            </div>
            
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.getElementById('quejita'); // Reemplaza con el ID de tu formulario
  
            form.addEventListener('submit', function () {
                 // Muestra el spinner
                 document.getElementById('loading').style.display = 'block';
            });
       });
    </script>
{% endblock %}
