{% extends 'accounts/base_dashboard.html' %}
{% load static %}
{% block title %}Términos y Avisos de Privacidad{% endblock %}
{% block header %}Términos y Avisos de Privacidad{% endblock %}
{% block content %}

<!-- SECCIÓN DE TÍTULO ENCABEZANDO -->
<div class="row">
     <div class="col">
          <h1 class="text-center">Términos y Avisos de Privacidad</h1>
          <hr />
     </div>
</div>
<div class="row">
     <div class="col-md-8 offset-md-2">
          <div class="alert alert-info mb-4">
               <h4 class="alert-heading">¡Atención!</h4>
               <p>Por favor, ingrese su texto utilizando las etiquetas que se muestran en la sección de abajo. Si
                    tiene algún problema, no dude en contactarnos.</p>
          </div>
          <p><strong>Edita el texto en los contenedores segun las necesidades que tengas y da click en guardar para conservar cambios.</strong></p>
          <form method="post">
               {% csrf_token %}
               {{ form.as_p }}
               <button type="submit" class="btn btn-primary mb-3">Guardar</button>
          </form>
          <div class=" alert-info mb-4 p-4">
               <h4 class="alert-heading">Guía Básica para Usar Etiquetas HTML en tus Términos y Avisos</h4>
               <p>¡Hola! Si necesitas agregar formato a tu texto para los términos y condiciones, puedes usar
                    algunas etiquetas HTML básicas. Aquí te explicamos cómo hacerlo de manera sencilla.</p>
               <ol>
                    <li><strong>Negritas</strong></li>
                    <p>Para resaltar texto en negritas, usa la etiqueta <code>&lt;strong&gt;</code>. Cualquier
                         texto entre <code>&lt;strong&gt;</code> y <code>&lt;/strong&gt;</code> se verá en
                         negritas.</p>
                    <p>Ejemplo: <code>&lt;strong&gt;Este texto se verá en negritas&lt;/strong&gt;</code></p>

                    <li><strong>Cursiva</strong></li>
                    <p>Para poner texto en cursiva, usa la etiqueta <code>&lt;em&gt;</code>. El texto entre
                         <code>&lt;em&gt;</code> y <code>&lt;/em&gt;</code> se verá en cursiva.</p>
                    <p>Ejemplo: <code>&lt;em&gt;Este texto se verá en cursiva&lt;/em&gt;</code></p>

                    <li><strong>Subrayado</strong></li>
                    <p>Para subrayar texto, usa la etiqueta <code>&lt;u&gt;</code>. El texto entre
                         <code>&lt;u&gt;</code> y <code>&lt;/u&gt;</code> estará subrayado.</p>
                    <p>Ejemplo: <code>&lt;u&gt;Este texto estará subrayado&lt;/u&gt;</code></p>

                    <li><strong>Saltos de línea</strong></li>
                    <p>Para comenzar un nuevo párrafo, usa la etiqueta <code>&lt;br&gt;</code>. Esto insertará un
                         salto de línea.</p>
                    <p>Ejemplo:</p>
                    <p><code>Este es el primer párrafo.&lt;br&gt;<br>Este es el segundo párrafo después del salto de línea.</code>
                    </p>

                    <li><strong>Viñetas</strong></li>
                    <p>Para crear listas con viñetas, usa las etiquetas <code>&lt;ul&gt;</code> y
                         <code>&lt;li&gt;</code>. La etiqueta <code>&lt;ul&gt;</code> inicia una lista no ordenada
                         (con viñetas) y cada elemento de la lista va entre <code>&lt;li&gt;</code> y
                         <code>&lt;/li&gt;</code>.</p>
                    <p>Ejemplo:</p>
                    <p><code>&lt;ul&gt;<br>&lt;li&gt;Primer ítem de la lista&lt;/li&gt;<br>&lt;li&gt;Segundo ítem de la lista&lt;/li&gt;<br>&lt;li&gt;Tercer ítem de la lista&lt;/li&gt;<br>&lt;/ul&gt;</code>
                    </p>

                    <li><strong>Comentarios dentro del texto</strong></li>
                    <p>Para comentar el texto, puedes usar <code>&lt;!-- Comentario aquí --&gt;</code>. Esto solo
                         es para el campo para ingresar texto, no aparecerá en el documento PDF generado.</p>
               </ol>
          </div>
     </div>
</div>

{% endblock %}