# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/

# Virtual environment
.env/
venv/
env/

# Django
*.log
*.pot
*.pyc
*.so
*.sqlite3
*.pyo
*.cover
*.DS_Store
*.pyd
*.pyo
*.coverage
*.egg-info
*.idea
*.swp
*.swo
*.swn
*.bak
*.orig
*.rej
local_settings.py
db.sqlite3

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Sentry
.sentryclirc

# Static files
staticfiles/
static/
media/

# IDEs
.idea/
.vscode/
