<!-- Plantilla para la vista de clientes en Django -->

{% extends 'accounts/base_dashboard.html' %}
{% load static %}

{% block title %}Clientes{% endblock %}
{% block header %}Clientes{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h1 class="text-center">Clientes</h1>
        <hr class="featurette-divider">
    </div>
</div>

<!-- BUSCADOR -->
<div class="row mb-3 justify-content-center">
    <div class="col-md-6">
        <div class="input-group mb-3">
            <input type="text" id="searchInput" class="form-control" placeholder="Buscar clientes..." onkeyup="filterTable('searchInput', 'clientesTable')">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" onclick="filterTable('searchInput', 'clientesTable')">Buscar</button>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3 justify-content-end">
    <div class="col-auto">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createClienteModal">
            Añadir Cliente
        </button>
    </div>
</div>

<div class="row">
    <div class="table-responsive" style="max-height: 75vh; overflow-y: auto;">
        <table id="clientesTable" class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th><a class="link-secondary" href="?order_by=id">#</a></th>
                    <th colspan="3"><a class="link-secondary" href="?order_by=nombre">Cliente</a></th>
                    <th><a class="link-secondary" href="?order_by=empresa__nombre_empresa">Empresa</a></th>
                    <th><a class="link-secondary" href="?order_by=informacion_contacto__correo_electronico">Correo</a></th>
                    <th colspan="4"></th>
                </tr>
            </thead>
            <tbody>
                {% for persona in personas_page %}
                <tr>
                    <td>{{ persona.id }}</td>
                    <td>{{ persona.titulo.abreviatura }}</td>
                    <td>{{ persona.nombre }}</td>
                    <td>{{ persona.apellidos }}</td>
                    <td>{{ persona.empresa.nombre_empresa }}</td>
                    <td>{{ persona.informacion_contacto.correo_electronico }}</td>
                    <td><a href="{% url 'cotizacion_form' persona.id %}" class="btn btn-success btn-sm">Cotizar</a></td>
                    <td><a href="{% url 'cliente_edit' persona.id %}" class="btn btn-primary btn-sm">Editar</a></td>
                    <td><a href="#" onclick="eliminarCliente({{ persona.id }})" class="btn btn-danger btn-sm">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<p>Número de clientes: {{ personas }}</p>
<div class="pagination">
    {% if personas_page.has_previous %}
    <a href="?page=1&order_by={{ request.GET.order_by }}" class="btn btn-light btn-sm">Primera</a>
    <a href="?page={{ personas_page.previous_page_number }}&order_by={{ request.GET.order_by }}" class="btn btn-light btn-sm">Anterior</a>
    {% endif %}
    <div class="m-1">Página {{ personas_page.number }} de {{ personas_page.paginator.num_pages }}.</div>
    {% if personas_page.has_next %}
    <a href="?page={{ personas_page.next_page_number }}&order_by={{ request.GET.order_by }}" class="btn btn-light btn-sm">Siguiente</a>
    <a href="?page={{ personas_page.paginator.num_pages }}&order_by={{ request.GET.order_by }}" class="btn btn-light btn-sm">Última</a>
    {% endif %}
</div>

<!-- Modal para crear un nuevo cliente -->
<div class="modal fade" id="createClienteModal" tabindex="-1" aria-labelledby="createClienteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createClienteLabel">Crear Nuevo Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{% url 'cliente_create' %}">
                {% csrf_token %}
                <div class="modal-body">
                    {{ persona_form.as_p }}
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" id="crear_empresa_checkbox" name="crear_empresa_checkbox">
                        <label class="form-check-label" for="crear_empresa_checkbox">Crear empresa</label>
                    </div>
                    <div class="mb-3" id="select_empresa_div">
                        <label for="empresaSelect" class="form-label">Empresa:</label>
                        <select class="form-select" id="empresaSelect" name="empresa">
                            <option value="">Selecciona una empresa o crea una nueva</option>
                            {% for empresa in empresas %}
                            <option value="{{ empresa.id }}">{{ empresa.nombre_empresa }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3" id="form_empresa_div" style="display: none;">
                        {{ empresa_form.as_p }}
                        {{ direccion_form.as_p }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" name="action" value="create" class="btn btn-success">Crear Cliente</button>
                    <button type="submit" name="action" value="create_and_quote" class="btn btn-primary">Crear y Cotizar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function eliminarCliente(id) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: "¡No podrás revertir esto!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, eliminar',
            cancelButtonText: 'No, cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "{% url 'cliente_delete' 0 %}".replace('0', id);
            }
        });
    }
    
    document.addEventListener("DOMContentLoaded", function () {
        const checkbox = document.getElementById('crear_empresa_checkbox');
        const selectEmpresaDiv = document.getElementById('select_empresa_div');
        const formEmpresaDiv = document.getElementById('form_empresa_div');
        const empresaFormFields = formEmpresaDiv.querySelectorAll('input, select, textarea');

        checkbox.addEventListener('change', function () {
            if (checkbox.checked) {
                selectEmpresaDiv.style.display = 'none';
                formEmpresaDiv.style.display = 'block';
                empresaFormFields.forEach(field => field.removeAttribute('disabled'));
            } else {
                selectEmpresaDiv.style.display = 'block';
                formEmpresaDiv.style.display = 'none';
                empresaFormFields.forEach(field => field.setAttribute('disabled', 'disabled'));
            }
        });

        empresaFormFields.forEach(field => field.setAttribute('disabled', 'disabled'));
    });
</script>
{% endblock %}
{% endblock %}
