<!-- Plantilla para la vista de clientes en Django -->

<!-- Extiende la plantilla base del dashboard -->
{% extends 'accounts/base_dashboard.html' %}
<!-- Carga las etiquetas estáticas de Django -->
{% load static %}
<!-- Bloque para el título de la página -->
{% block title %}Clientes{% endblock %}
<!-- Bloque para el encabezado de la página -->
{% block header %}Clientes{% endblock %}
<!-- Bloque para el contenido principal de la página -->
{% block content %}

<div class="row">
    <div class="col">
        <!-- Título principal de la sección de clientes -->
        <h1 class="text-center">Clientes</h1>
        <!-- Línea divisoria -->
        <hr class="featurette-divider">
    </div>
</div>

<div class="row mb-3 justify-content-end">
    <div class="col-auto">
        <!-- Campo de búsqueda para filtrar la tabla de clientes -->
        <input type="text" id="searchInput" class="form-control" onkeyup="filterTable('searchInput', 'clientesTable')"
            placeholder="Buscar clientes...">
    </div>
    <div class="col-auto">
        <!-- Botón para abrir el modal de creación de nuevo cliente -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createClienteModal"> Añadir Cliente </button>
    </div>
</div>

<div class="row">
    <div class="table-responsive" style="max-height: 75vh; overflow-y: auto;">
        <!-- Tabla para mostrar la lista de clientes -->
        <table id="clientesTable" class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th colspan="3">Cliente</th>
                    <th>Empresa</th>
                    <th>Correo</th>
                    <th colspan="4">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- Itera sobre la lista de personas (clientes) y crea una fila para cada una -->
                {% for persona in personas %}
                <tr>
                    <td>{{ forloop.counter }}</td> <!-- Contador de la fila -->
                    <td>{{ persona.titulo.abreviatura }}</td> <!-- Título del cliente -->
                    <td>{{ persona.nombre }}</td> <!-- Nombre del cliente -->
                    <td>{{ persona.apellidos }}</td> <!-- Apellidos del cliente -->
                    <td>{{ persona.empresa.nombre_empresa }}</td> <!-- Nombre de la empresa del cliente -->
                    <td>{{ persona.informacion_contacto.correo_electronico }}</td> <!-- Correo electrónico del cliente -->
                    <!-- Botones de opciones para editar, cotizar y eliminar el cliente -->
                    <td><a href="{% url 'cliente_edit' persona.id %}" class="btn btn-primary btn-sm">Editar</a></td>
                    <td><a href="{% url 'cotizacion_form_con_cliente' persona.id persona.empresa.moneda %}" class="btn btn-success btn-sm">Cotizar</a></td>
                    <!-- <td><a href="{% url 'cotizaciones_list' %}?prospecto_id={{ persona.id }}" class="btn btn-secondary btn-sm">Cotizaciones</a></td> -->
                    <td><a href="{% url 'cliente_delete' persona.id %}" class="btn btn-danger btn-sm">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Muestra el número total de clientes -->
    <p>Número de clientes: {{ personas.count }}</p>
</div>

<!-- Modal para crear un nuevo cliente -->
<div class="modal fade" id="createClienteModal" tabindex="-1" aria-labelledby="createClienteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- Título del modal -->
                <h5 class="modal-title" id="createClienteLabel">Crear Nuevo Cliente</h5>
                <!-- Botón para cerrar el modal -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Formulario para crear un nuevo cliente -->
            <form method="post" action="{% url 'cliente_create' %}">
                <!-- Token de protección CSRF -->
                {% csrf_token %}
                <div class="modal-body">
                    <!-- Formulario del cliente -->
                    {{ persona_form.as_p }}
                    <p>
                        <!-- Checkbox para indicar si se desea crear una nueva empresa -->
                        Crear empresa:
                        <input type="checkbox" id="crear_empresa_checkbox" name="crear_empresa_checkbox" placeholder="Crear empresa">
                    </p>

                    <div class="mb-3" id="select_empresa_div">
                        <!-- Selección de empresa existente -->
                        <label for="empresaSelect" class="form-label">Empresa:</label>
                        <select class="form-select" id="empresaSelect" name="empresa">
                            <option value="">Selecciona una empresa o crea una nueva</option>
                            <!-- Itera sobre la lista de empresas y crea una opción para cada una -->
                            {% for empresa in empresas %}
                            <option value="{{ empresa.id }}">{{ empresa.nombre_empresa }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3" id="form_empresa_div" style="display: none;">
                        <!-- Formulario para crear una nueva empresa y dirección -->
                        {{ empresa_form.as_p }}
                        {{ direccion_form.as_p }}
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- Botón para cancelar la creación del cliente -->
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <!-- Botón para enviar el formulario y crear el cliente -->
                    <button type="submit" class="btn btn-success">Crear Cliente</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const checkbox = document.getElementById('crear_empresa_checkbox');
        const selectEmpresaDiv = document.getElementById('select_empresa_div');
        const formEmpresaDiv = document.getElementById('form_empresa_div');
        const empresaFormFields = formEmpresaDiv.querySelectorAll('input, select, textarea');

        checkbox.addEventListener('change', function() {
            if (checkbox.checked) {
                selectEmpresaDiv.style.display = 'none';
                formEmpresaDiv.style.display = 'block';
                empresaFormFields.forEach(field => {
                    field.removeAttribute('disabled');
                });
            } else {
                selectEmpresaDiv.style.display = 'block';
                formEmpresaDiv.style.display = 'none';
                empresaFormFields.forEach(field => {
                    field.setAttribute('disabled', 'disabled');
                });
            }
        });

        // Inicialmente deshabilitar los campos del formulario de empresa
        empresaFormFields.forEach(field => {
            field.setAttribute('disabled', 'disabled');
        });
    });
</script>

{% endblock %}
