{% extends 'accounts/base_dashboard.html' %}
{% load static %}

{% block title %}Confirmación de Cliente{% endblock %}
{% block header %}Confirmación de Cliente{% endblock %}

{% block content %}
<div class="container mt-4">
     <h1 class="text-center">Confirmación de Cliente</h1>
     <div class="card mt-4">
          <div class="card-header">
               Información del Cliente
          </div>
          <div class="card-body">
               <h5 class="card-title">{{ persona.nombre }} {{ persona.apellidos }}</h5>
               {% if persona.titulo %}
               <p class="card-text"><strong>Título:</strong> {{ persona.titulo.titulo }}</p>
               {% endif %}
               <p class="card-text"><strong>Empresa:</strong> {{ persona.empresa.nombre_empresa }}</p>
               <p class="card-text"><strong>Direccion:</strong> {{ persona.empresa.direccion }}</p>
               <p class="card-text"><strong>Activo:</strong> {{ persona.activo|yesno:"Sí,No" }}</p>

               {% if persona.informacion_contacto %}
               <div class="mt-3">
                    <h5>Información de Contacto</h5>
                    <p><strong>Correo Electrónico:</strong> {{ persona.informacion_contacto.correo_electronico }}</p>
                    <p><strong>Teléfono:</strong> {{ persona.informacion_contacto.telefono }}</p>
                    <p><strong>Celular:</strong> {{ persona.informacion_contacto.celular }}</p>
                    <p><strong>Fax:</strong> {{ persona.informacion_contacto.fax }}</p>
               </div>
               {% endif %}
          </div>
          <div class="card-footer">
               <a href="{% url 'lista_clientes' %}" class="btn btn-primary">Terminar</a>
               <a href="{% url 'cotizacion_form_con_cliente' persona.id persona.empresa.moneda %}"
                    class="btn btn-success">Cotizar</a>
          </div>
     </div>
</div>
{% endblock %}