<!-- Plantilla para la vista de edición de clientes en Django -->

<!-- Extiende la plantilla base del dashboard -->
{% extends 'accounts/base_dashboard.html' %}
<!-- Carga las etiquetas estáticas de Django -->
{% load static %}
<!-- Bloque para el título de la página -->
{% block title %}Editar Cliente{% endblock %}
<!-- Bloque para el encabezado de la página -->
{% block header %}Editar Cliente{% endblock %}
<!-- Bloque para el contenido principal de la página -->
{% block content %}

<div class="row">
    <div class="col">
        <!-- Título principal de la sección de edición de cliente -->
        <h1 class="text-center">Editar Cliente</h1>
        <!-- Línea divisoria -->
        <hr class="featurette-divider">
    </div>
</div>

<div class="row">
    <div class="col-md-8 offset-md-2">
        <!-- Formulario para editar el cliente -->
        <form method="post">
            <!-- Token de protección CSRF -->
            {% csrf_token %}
            <!-- Formulario del cliente con campos renderizados automáticamente -->
            {{ persona_form.as_p }}
            <!-- Botón para guardar los cambios -->
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
            <!-- Enlace para cancelar la edición y volver a la lista de clientes -->
            <a href="{% url 'lista_clientes' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>

<!-- Script para borrar servicio-->
<script>
    // Espera a que el contenido del documento esté completamente cargado antes de ejecutar el script
    document.addEventListener("DOMContentLoaded", function () {
        // Obtiene la referencia al modal de eliminación de servicio por su ID
        var deleteServicioModal = document.getElementById('deleteServicioModal');
        
        // Agrega un evento cuando el modal de eliminación se muestra
        deleteServicioModal.addEventListener('show.bs.modal', function (event) {
            // Obtiene el botón que activó el modal (el botón relacionado)
            var button = event.relatedTarget;
            
            // Obtiene el ID del servicio desde el atributo data-servicio-id del botón
            var servicioId = button.getAttribute('data-servicio-id');
            
            // Obtiene el formulario de eliminación de servicio por su ID
            var form = document.getElementById('deleteServicioForm');
            
            // Obtiene la acción actual del formulario y reemplaza '0' con el servicioId obtenido
            var action = form.getAttribute('action').replace('0', servicioId);
            
            // Actualiza la acción del formulario con la nueva URL que incluye el servicioId
            form.setAttribute('action', action);
        });
    });
</script>

{% endblock %}
