<!-- templates/editar_organizacion.html -->
{% extends 'accounts/base_dashboard.html' %}
{% load static %}

{% block title %}Organización{% endblock %}
{% block header %}Organización{% endblock %}
{% block content %}

<!-- Estilos CSS -->
<style>
  .help-section {
    width: 90%;
    margin: auto;
    font-family: 'Arial', sans-serif;
  }

  .category {
    margin-bottom: 30px;
  }

  h3 {
    color: #333;
    margin-top: 30px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    margin: 5px 0;
  }

  a {
    text-decoration: none;
    color: #007bff;
  }

  a:hover {
    text-decoration: underline;
  }

  #search {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
</style>

<!-- Sección de preguntas -->
<div class="help-section">
  <h1 class="mb-5">Guía para el uso del SistemaINADE Cotizaciones</h1>
  <br>
  <input type="text" id="search" placeholder="Busca con palabras clave...">

  <div class="category">
    <h3>Gestión de Usuarios</h3>
    <ul>
      <li><a href="#crearUsuario">¿Cómo puedo agregar un nuevo usuario al sistema?</a></li>
      <li><a href="#eliminarUsuario">¿Cómo eliminar un usuario?</a></li>
      <li><a href="#editUsuario">¿Cómo puedo editar la información de un usuario existente?</a></li>
    </ul>
  </div>

  <div class="category">
    <h3>Cotizaciones</h3>
    <ul>
      <li><a href="#crearCotizacion">¿Cómo crear una nueva cotización?</a></li>
      <li><a href="#correoCotizacion">¿Cómo enviar una cotización por correo electrónico?</a></li>
      <li><a href="#notificacionCotizacion">¿Cómo puedo notificarme cuando un cliente contesta el formulario de que ha subido una orden de compra?</a></li>
      <li><a href="#pdfCotizacion">¿Cómo ver el documento PDF de la cotización?</a></li>
    </ul>
  </div>

  <div class="category">
    <h3>Órdenes de Trabajo</h3>
    <ul>
      <li><a href="#crearOrden">¿Cómo genero una orden de trabajo?</a></li>
      <li><a href="#viewOrderPdf">¿Cómo puedo ver el PDF de una orden de trabajo?</a></li>
    </ul>
  </div>

  <div class="category">
    <h3>Gestión de Plantillas y Organización</h3>
    <ul>
      <li><a href="#editOrgInfo">¿Cómo edito la información de la organización?</a></li>
      <li><a href="#editQuoteTemplate">¿Cómo puedo modificar los términos en el formato PDF de cotización?</a></li>
      <li><a href="#editOrderTemplate">¿Cómo modificar los datos en el formato para órdenes de trabajo?</a></li>
    </ul>
  </div>
</div>

<!-- Sección de guías -->
<div class="container mt-2">

  <!-- Crear Usuario -->
  <h2 class="mt-3" id="crearUsuario">Crear Usuario</h2>
  <p>Para poder crear un usuario, puedes hacerlo de varias maneras...</p>
  <ol>
    <li class="mt-2">
      <div class="row">
        <div class="col">
          <h5>Acceder desde Home</h5>
          <ol>
            <li>En la sección de Home, dirígete al botón Clientes y haz clic.</li>
            <li>En la sección de Clientes, haz clic en el botón azul en la parte superior derecha llamado Añadir Cliente.</li>
          </ol>
        </div>
        <div class="col text-center p-0 m-0">
          <video class="shadow" autoplay loop muted playsinline style="width: 100%;">
            <source src="{% static 'videos/1.user.modal.mov' %}" type="video/mp4">
            <source src="{% static 'videos/1.user.modal.mov' %}" type="video/webm">
            <source src="{% static 'videos/1.user.modal.mov' %}" type="video/ogg">
            Tu navegador no soporta la etiqueta de video.
          </video>
        </div>
      </div>
    </li>

    <!-- Acceder desde Menú -->
    <li class="mt-5">
      <div class="row">
        <div class="col">
          <h5>Acceder desde Menú</h5>
          <ol>
            <li>Haz clic en el icono de menú, se encuentra en la esquina superior derecha.</li>
            <li>Dirígete a la segunda sección y haz clic en Guía de operaciones.</li>
            <li>En la sección de Clientes, haz clic en el botón azul en la parte superior derecha llamado Añadir Cliente.</li>
          </ol>
        </div>
        <div class="col text-center p-0 m-0">
          <video class="shadow" autoplay loop muted playsinline style="width: 100%;">
            <source src="{% static 'videos/1.user_menu.mov' %}" type="video/mp4">
            <source src="{% static 'videos/1.user_menu.mov' %}" type="video/webm">
            <source src="{% static 'videos/1.user_menu.mov' %}" type="video/ogg">
            Tu navegador no soporta la etiqueta de video.
          </video>
        </div>
      </div>
    </li>
  </ol>

  <!-- Eliminar Usuario -->
  <h2 id="eliminarUsuario">Eliminar Usuario</h2>
  <ol>
    <div class="row">
      <div class="col">
        <li><p>Dirígete a la sección de clientes.</p></li>
        <li>En la sección de Clientes, puedes buscar o elegir algún cliente que se desee eliminar.</li>
        <li>Haz clic en el botón eliminar.</li>
      </div>
      <div class="col text-center p-0 m-0">
        <video class="shadow" autoplay loop muted playsinline style="width: 100%;">
          <source src="{% static 'videos/1.user_eliminar.mov' %}" type="video/mp4">
          <source src="{% static 'videos/1.user_eliminar.mov' %}" type="video/webm">
          <source src="{% static 'videos/1.user_eliminar.mov' %}" type="video/ogg">
          Tu navegador no soporta la etiqueta de video.
        </video>
      </div>
    </div>
  </ol>

  <!-- Editar Usuario -->
  <h2 class="mt-3" id="editUsuario">Editar Usuario</h2>
  <p>Para poder editar un usuario, puedes hacerlo de la siguiente manera...</p>
  <div class="row">
    <div class="col">
      <ol>
        <li>Dirígete a la sección de clientes.</li>
        <li>En la sección de Clientes, puedes buscar o elegir algún cliente que se desee modificar.</li>
        <li>Haz clic en el botón modificar.</li>
      </ol>
    </div>
    <div class="col text-center p-0 m-0">
      <video class="shadow" autoplay loop muted playsinline style="width: 100%;">
        <source src="{% static 'videos/1.user_edit.mov' %}" type="video/mp4">
        <source src="{% static 'videos/1.user_edit.mov' %}" type="video/webm">
        <source src="{% static 'videos/1.user_edit.mov' %}" type="video/ogg">
        Tu navegador no soporta la etiqueta de video.
      </video>
    </div>
  </div>

  <!-- Crear Cotización -->
  <h2 class="mt-3" id="crearCotizacion">Crear Cotización</h2>
  <div class="row">
    <div class="col">
      <ol>
        <li>Haz clic en el botón de cotizar y te dirigirá a la sección de cotizaciones.</li>
        <li>Haz clic en el botón Nueva cotización, te dirigirá a la sección de clientes ya que para cotizar debemos saber para qué cliente. Si no existe el cliente, puedes crearlo. Para saber cómo crear un cliente, accede al siguiente enlace: <a href="#crearUsuario">Crear Cliente</a></li>
        <li>También puedes buscar algún cliente y en sus acciones dar clic en cotizar.</li>
        <li>Cuando hayas terminado de crear un cliente, haz clic en crear y cotizar.</li>
        <li>Llena el formulario y haz clic en crear cotización.</li>
      </ol>
    </div>
    <div class="col text-center p-0 m-0">
      <video class="shadow" autoplay loop muted playsinline style="width: 100%;">
        <source src="{% static 'videos/1.cotizacion_crear.mov' %}" type="video/mp4">
        <source src="{% static 'videos/1.cotizacion_crear.mov' %}" type="video/webm">
        <source src="{% static 'videos/1.cotizacion_crear.mov' %}" type="video/ogg">
        Tu navegador no soporta la etiqueta de video.
      </video>
    </div>
  </div>

  <!-- Enviar Cotización por correo -->
  <h2 class="mt-3" id="correoCotizacion">Enviar Cotización por Correo</h2>
  <div class="row">
    <div class="col">
      <ol>
        <li>Dirígete a la sección de cotizaciones.</li>
        <li>Busca la cotización que enviarás por correo.</li>
        <li>Haz clic en detalle de la cotización, te dirigirá a los detalles de la cotización.</li>
        <li>En la pestaña de detalles, en la esquina superior derecha habrá un botón verde que desplegará acciones para la cotización.</li>
        <li>Haz clic en la opción enviar cotización.</li>
        <li>Se mostrarán los correos relacionados con esa cotización, selecciona a los que se les enviará la cotización.</li>
        <li>Haz clic en enviar cotización.</li>
      </ol>
    </div>
    <div class="col text-center p-0 m-0 auto">
      <video class="shadow" autoplay loop muted playsinline style="width: 100%;">
        <source src="{% static 'videos/1.cotizacion_correo.mov' %}" type="video/mp4">
        <source src="{% static 'videos/1.cotizacion_correo.mov' %}" type="video/webm">
        <source src="{% static 'videos/1.cotizacion_correo.mov' %}" type="video/ogg">
        Tu navegador no soporta la etiqueta de video.
      </video>
    </div>
  </div>

  <!-- Consultar PDF de cotización -->
  <h2 class="mt-3" id="pdfCotizacion">Consultar Cotización PDF</h2>
  <div class="row">
    <div class="col">
      <ol>
        <li>Abre la sección de cotizaciones.</li>
        <li>Haz clic en detalles de la cotización que quieres consultar en PDF.</li>
        <li>En las acciones para cotización, haz clic en Ver PDF.</li>
      </ol>
    </div>
    <div class="col text-center p-0 m-0 auto">
      <video class="shadow" autoplay loop muted playsinline style="width: 100%;">
        <source src="{% static 'videos/1.cotizacion_pdf.mov' %}" type="video/mp4">
        <source src="{% static 'videos/1.cotizacion_pdf.mov' %}" type="video/webm">
        <source src="{% static 'videos/1.cotizacion_pdf.mov' %}" type="video/ogg">
        Tu navegador no soporta la etiqueta de video.
      </video>
    </div>
  </div>

  <!-- Notificaciones de orden de compra -->
  <h2 class="mt-3" id="notificacionCotizacion">Notificaciones de Órdenes de Compra</h2>
  <div class="row">
    <div class="col">
      <ol>
        <li>En la barra de navegación está el encabezado de Notificaciones, donde se mostrarán la cantidad de notificaciones recibidas. Haz clic en Notificaciones para poder verlas.</li>
        <li>Se abrirá la sección con todas las notificaciones.</li>
        <li>Haz clic en una de ellas para poder observar de qué cotización se ha subido una orden de compra.</li>
        <li>Haz clic en borrar si quieres eliminarla, si no solo aparecerá como leída.</li>
      </ol>
    </div>
    <div class="col text-center p-0 m-0 auto">
      <video class="shadow" autoplay loop muted playsinline style="width: 100%;">
        <source src="{% static 'videos/1.cotizacion_notificacion.mov' %}" type="video/mp4">
        <source src="{% static 'videos/1.cotizacion_notificacion.mov' %}" type="video/webm">
        <source src="{% static 'videos/1.cotizacion_notificacion.mov' %}" type="video/ogg">
        Tu navegador no soporta la etiqueta de video.
      </video>
    </div>
  </div>

  <!-- Crear Orden de Trabajo -->
  <h2 class="mt-3" id="crearOrden">Crear Orden de Trabajo</h2>
  <div class="row">
    <div class="col">
      <ol>
        <li>
          <h5>Crear Orden de Trabajo desde detalles de cotización</h5>
          <ol>
            <li>En la sección de Home, dirígete al botón Clientes y haz clic.</li>
            <li>En la sección de Clientes, haz clic en el botón azul en la parte superior derecha llamado Añadir Cliente.</li>
          </ol>
        </li>
        <li>
          <h5>Crear Orden de Trabajo desde proyectos</h5>
          <ol>
            <li>Haz clic en el icono de menú, se encuentra en la esquina superior derecha.</li>
            <li>Dirígete a proyectos y haz clic en él.</li>
            <li>Busca el proyecto o cotización aceptada y da clic en generar orden de trabajo.</li>
          </ol>
        </li>
      </ol>
    </div>
    <div class="col text-center p-0 m-0">
      <video class="shadow" autoplay loop muted playsinline style="width: 100%;">
        <source src="{% static 'videos/1.cotizacion_ordent.mov' %}" type="video/mp4">
        <source src="{% static 'videos/1.cotizacion_ordent.mov' %}" type="video/webm">
        <source src="{% static 'videos/1.cotizacion_ordent.mov' %}" type="video/ogg">
        Tu navegador no soporta la etiqueta de video.
      </video>
    </div>
  </div>

  <!-- Editar datos de la organización -->
  <h2 class="mt-3" id="editOrgInfo">Modificar Información de la Organización</h2>
  <div class="row">
    <div class="col">
      <ol>
        <li>Abre el menú que se encuentra en el lado superior derecho.</li>
        <li>Haz clic en organización.</li>
        <li>Acepta que no habrá cambios para las modificaciones que realices.</li>
        <li>Modifica y guarda.</li>
      </ol>
    </div>
    <div class="col text-center p-0 m-0 auto">
      <video class="shadow" autoplay loop muted playsinline style="width: 100%;">
        <source src="{% static 'videos/1.organizacion.mov' %}" type="video/mp4">
        <source src="{% static 'videos/1.organizacion.mov' %}" type="video/webm">
        <source src="{% static 'videos/1.organizacion.mov' %}" type="video/ogg">
        Tu navegador no soporta la etiqueta de video.
      </video>
    </div>
  </div>

  <!-- Editar formatos -->
  <h2 class="mt-3" id="editQuoteTemplate">Editar Formatos</h2>
  <div class="row">
    <div class="col">
      <ol>
        <li>
          <h5>Editar Formato de Cotizaciones</h5>
          <ol>
            <li>Haz clic en menú, que está en la esquina superior derecha.</li>
            <li>Haz clic en formatos.</li>
            <li>Acepta que no podrán revertirse las modificaciones que realices.</li>
            <li>Selecciona la pestaña de cotización.</li>
            <li>Modifica y guarda.</li>
          </ol>
        </li>
        <li>
          <h5>Editar Formato de Órdenes de Trabajo</h5>
          <ol>
            <li>Haz clic en menú, que está en la esquina superior derecha.</li>
            <li>Haz clic en formatos.</li>
            <li>Acepta que no podrán revertirse las modificaciones que realices.</li>
            <li>Selecciona la pestaña de orden de trabajo.</li>
            <li>Modifica y guarda.</li>
          </ol>
        </li>
      </ol>
    </div>
    <div class="col text-center p-0 m-0 auto">
      <video class="shadow" autoplay loop muted playsinline style="width: 100%;">
        <source src="{% static 'videos/1.formatos.mov' %}" type="video/mp4">
        <source src="{% static 'videos/1.formatos.mov' %}" type="video/webm">
        <source src="{% static 'videos/1.formatos.mov' %}" type="video/ogg">
        Tu navegador no soporta la etiqueta de video.
      </video>
    </div>
  </div>
</div>

{% block extra_js %}
<script>
  // Filtro de búsqueda para las preguntas de ayuda
  document.getElementById('search').addEventListener('input', function () {
    var query = this.value.toLowerCase();
    document.querySelectorAll('.category').forEach(function (category) {
      var matches = false;
      category.querySelectorAll('li').forEach(function (item) {
        if (item.textContent.toLowerCase().includes(query)) {
          item.style.display = 'block';
          matches = true;
        } else {
          item.style.display = 'none';
        }
      });
      category.style.display = matches ? 'block' : 'none';
    });
  });
</script>
{% endblock %}
{% endblock %}
