{% extends 'accounts/base_dashboard.html' %}
{% load static %}
{% block title %}Prospecto{% endblock %}
{% block header %}Prospecto{% endblock %}
{% block content %}

<!-- MENSAJES DE ALERTA -->
{% if messages %}
{% for message in messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}
{% endif %}

<!-- FORMULARIO PARA PROSPECTO -->
<div class="container mt-4">
    <h1 class="text-center">Nuevo prospecto</h1>
    <hr />
    <!-- FORMULARIO -->
    <form action="{% url 'prospecto_create' %}" method="post">
    {% csrf_token %}
        <div class="row justify-content-center">
                <div class="col-md-6">
                <h3 class="fw-bold mb-3">Datos de la empresa</h3>
                {{ empresa_form.as_p }}
                {{ direccion_form.as_p }}
            </div>
            <div class="col-md-6">
                <h3 class="fw-bold mb-3">Informacion del contacto</h3>
                {{ persona_form.as_p }}
                {{ informacion_contacto_form.as_p }}
            </div>
        </div>
        <div class="form-group text-right">
            <input type="submit" class="btn btn-success" value="Registrar prospecto">
            <input type="button" class="btn btn-danger" value="Cancelar" onclick="location.href='{% url 'prospecto_list' %}'">
        </div>
    </form>
</div>

{% endblock %}
