{% extends 'accounts/base_dashboard.html' %}
{% load static %}
{% block title %}Prospecto{% endblock %}
{% block header %}Prospecto{% endblock %}
{% block content %}
<div class="container mt-4">
     <h1 class="text-center">Nuevo Prospecto</h1>
     <hr />
     <form action="{% url 'prospecto_create' %}" method="post">
          {% csrf_token %}
          <div class="modal-body">
               <p>Elije una opcion para poder asignar una empresa</p>
               <select class="form-select" id="empresaSelect" aria-label="Seleccione una empresa">
                    <option selected>Selecciona una empresa</option>
                    {% for empresa in empresas %}
                    <option value="{{ empresa.id }}">{{ empresa.nombre_empresa }}</option>
                    {% endfor %}
               </select>
          </div>
          <div class="modal-footer">
               <a href="{% url 'empresas_cont_list' %}" type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Cancelar</a>
               <a href="{% url 'empresa_new' %}" type="button" class="btn btn-success btn-sm">Crear cliente</a>
               <a href="" class="btn btn-primary">Mandar cliente seleccionado</a>
          </div>
     </form>
</div>
{% endblock %}