{% extends 'accounts/base_dashboard.html' %}
{% load static %}
{% block title %}Prospectos{% endblock %}
{% block header %}Prospectos{% endblock %}
{% block content %}

<!-- CONTENEDOR DE PROSPECTO -->
<!-- SECCION DE TITULO ENCABEZANDO DIV -->
<div class="row">
    <div class="col">
        <h1 class="text-center">Prospectos</h1>
        <hr class="featurette-divider">
    </div>
</div>

<div class="row mb-3">
    <div class="col text-right">
        <a href="{% url 'prospecto_new' %}" class="btn btn-primary">Agregar Prospecto</a>
    </div>
</div>

<!-- TABLA -->
<div class="row">
    <div class="table-responsive" style="max-height: 75vh; overflow-y: auto;">
        <table class="table table-hover" >
            <!-- ENCABEZADO DE TABLA -->
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th colspan="3">Prospecto</th>
                    <th>Empresa</th>
                    <th>Correo</th>
                    <th colspan="4">Opciones</th>
                </tr>
            </thead>

            <!-- CUERPO DE TABLA -->
            <tbody>
                {% for p in prospectos %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ p.persona.titulo }}</td>
                    <td>{{ p.persona.nombre }}</td>
                    <td>{{ p.persona.apellidos }}</td>
                    <td>{{ p.persona.empresa.nombre_empresa }}</td>
                    <td>{{ p.persona.informacion_contacto.correo_electronico }}</td>
                    <td><a href="{% url 'prospecto_edit' p.id %}" class="btn btn-primary btn-sm">Editar</a></td>
                    <td><button class="btn btn-secondary btn-sm">Cotizar</button></td>
                    <td><button class="btn btn-secondary btn-sm">Cotizaciones</button></td>
                    <td> <a href="{% url 'prospecto_delete' p.id %}" class="btn btn-danger btn-sm">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

<script src="{% static 'js/alertas.js' %}"></script>
<!-- Incluye Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!-- Incluye jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<!-- Incluye tu archivo JS personalizado -->
<script src="{% static 'js/alertas.js' %}"></script>