{% extends 'accounts/base_dashboard.html' %}
{% load static %}
{% block title %}Servicios{% endblock %}
{% block header %}Servicios{% endblock %}
{% block content %}

<!-- SECCIÓN DE TÍTULO ENCABEZANDO SERVICIOS -->

<div class="row">
    <div class="col">
        <h1 class="text-center">Servicios</h1>
    </div>
</div>

<!-- BUSCADOR -->
<div class="row mb-3 justify-content-center">
    <div class="col-md-6">
        <div class="input-group mb-3">
            <input type="text" id="searchInput" class="form-control" placeholder="Buscar servicios..." onkeyup="filterTable('searchInput', 'serviciosTable')">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" onclick="filterTable('searchInput', 'serviciosTable')">Buscar</button>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3 justify-content-end">
    <div class="col-auto">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#createServicioModal">Añadir Servicio</button>
    </div>
</div>

<!-- TABLA DE SERVICIOS -->
<div class="row">
    <div class="col">
        <div class="table-responsive" style="max-height: 90vh; overflow-y: auto;">
            <table id="serviciosTable" class="table table-hover">
                <!-- ENCABEZADO DE TABLA -->
                <thead class="thead-light">
                    <tr>
                        <th><a class="link-secondary" href="?order_by=id">#</a></th>
                        <th><a class="link-secondary" href="?order_by=nombre_servicio">Nombre</a></th>
                        <th><a class="link-secondary" href="?order_by=metodo__metodo">Método</a></th>
                        <th><a class="link-secondary" href="?order_by=descripcion">Descripción</a></th>
                        <th><a class="link-secondary" href="?order_by=precio_sugerido">Precio sugerido</a></th>
                        <th><a class="link-secondary" href="?order_by=acreditado">Acreditado</a></th>
                        <th colspan="2" class="col-md-1"></th>
                    </tr>
                </thead>
                <!-- CUERPO DE TABLA -->
                <tbody>
                    {% for s in servicios_page %}
                    <tr>
                        <td>{{ s.id }}</td>
                        <td>{{ s.nombre_servicio }}</td>
                        <td>{{ s.metodo.metodo }}</td>
                        <td>{{ s.descripcion }}</td>
                        <td>{{ s.precio_sugerido }}</td>
                        <td>{% if s.acreditado %}Acreditado{% else %}No Acreditado{% endif %}</td>
                        <td>
                            <a href="{% url 'servicio_edit' s.id %}" class="btn btn-primary btn-sm">Editar</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                data-bs-target="#deleteServicioModal" data-servicio-id="{{ s.id }}">Eliminar</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                {% if servicios_page.has_previous %}
                    <a href="?page=1&order_by={{ request.GET.order_by }}" class="btn btn-light btn-sm">Primera</a>
                    <a href="?page={{ servicios_page.previous_page_number }}&order_by={{ request.GET.order_by }}" class="btn btn-light btn-sm">Anterior</a>
                {% endif %}
                <div class="m-1">Página {{ servicios_page.number }} de {{ servicios_page.paginator.num_pages }}.</div>
                {% if servicios_page.has_next %}
                    <a href="?page={{ servicios_page.next_page_number }}&order_by={{ request.GET.order_by }}" class="btn btn-light btn-sm">Siguiente</a>
                    <a href="?page={{ servicios_page.paginator.num_pages }}&order_by={{ request.GET.order_by }}" class="btn btn-light btn-sm">Última</a>
                {% endif %}
            </div>
            
        </div>
    </div>
</div>


<!-- SECCIÓN DE MÉTODOS -->
<div class="row">
    <div class="col">
        <h1 class="text-center">Métodos</h1>
    </div>
</div>

<div class="row mb-3 justify-content-end">
    <div class="col-auto">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createMetodoModal">Añadir
            Metodo</button>
    </div>
</div>


<!-- TABLA DE MÉTODOS -->
<div class="row">
    <div class="col">
        <div class="table-responsive" style="max-height: 75vh; overflow-y: auto;">
            <table id="metodoTable" class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th class="col-md-1">#</th>
                        <th>Métodos</th>
                        <th class="col-md-1"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for m in metodos %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ m.metodo }}</td>
                        <td>
                            <a href="{% url 'metodo_delete' m.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal para crear un nuevo servicio -->
<div class="modal fade" id="createServicioModal" tabindex="-1" aria-labelledby="createServicioLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createServicioLabel">Crear Nuevo Servicio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'servicio_create' %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <p>
                        Crear servicio:
                        <input type="checkbox" id="crear_metodo_checkbox" name="crear_metodo_checkbox" placeholder="Crear metodo">
                    </p>

                    <div class="mb-3" id="select_metodo_div">
                        <label for="metodoSelect" class="form-label">Metodo:</label>
                        <select class="form-select" id="metodoSelect" name="metodo">
                            <option value="">Selecciona un metodo</option>
                            {% for metodo in metodos %}
                            <option value="{{ metodo.id }}">{{ metodo.metodo }}</option>
                            {% endfor %}
                        </select>
                        <div class="mt-2 text-end" style="text-align: right;">
                            <span class="text-info">Por favor, selecciona una norma o segu¡miento de calidad.</span>
                        </div>
                    </div>
                    <div id="form_metodo_div" style="display: none;">
                        {{ metodo_form.as_p }}
                        <div class="mt-2 text-end" style="text-align: right;">
                            <span class="text-info">Por favor, ingresa la norma o segu¡miento de calidad.</span>
                        </div>
                    </div>
                    <h2>Servicio</h2>
                    {{ servicio_form.as_p }}
                </div>
                <!-- BOTONES ACEPTAR CANDELAR-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Añadir Servicio</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para crear un nuevo metodo -->
<div class="modal fade" id="createMetodoModal" tabindex="-1" aria-labelledby="createMetodoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createMetodoLabel">Crear Nuevo Metodo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{% url 'metodo_create' %}">
                {% csrf_token %}
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ metodo_form.as_p }}
                        <div class="mt-2 text-end" style="text-align: right;">
                            <span class="text-info">Por favor, ingresa la norma o segu¡miento de calidad.</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Añadir Metodo</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para confirmar eliminación de servicio -->
<div class="modal fade" id="deleteServicioModal" tabindex="-1" aria-labelledby="deleteServicioLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteServicioLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar este servicio?
            </div>
            <div class="modal-footer">
                <form id="deleteServicioForm" method="post" action="{% url 'servicio_delete' 0 %}">
                    {% csrf_token %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Script para borrar servicio-->
<script>
    // Espera a que el contenido del documento esté completamente cargado antes de ejecutar el script
    document.addEventListener("DOMContentLoaded", function () {
        // Obtiene la referencia al modal de eliminación de servicio por su ID
        var deleteServicioModal = document.getElementById('deleteServicioModal');
        
        // Agrega un evento cuando el modal de eliminación se muestra
        deleteServicioModal.addEventListener('show.bs.modal', function (event) {
            // Obtiene el botón que activó el modal (el botón relacionado)
            var button = event.relatedTarget;
            
            // Obtiene el ID del servicio desde el atributo data-servicio-id del botón
            var servicioId = button.getAttribute('data-servicio-id');
            
            // Obtiene el formulario de eliminación de servicio por su ID
            var form = document.getElementById('deleteServicioForm');
            
            // Obtiene la acción actual del formulario y reemplaza '0' con el servicioId obtenido
            var action = form.getAttribute('action').replace('0', servicioId);
            
            // Actualiza la acción del formulario con la nueva URL que incluye el servicioId
            form.setAttribute('action', action);
        });
    });
</script>
<!-- Script para agregar nuevo metodo-->
<script>
    // Espera a que el contenido del documento esté completamente cargado antes de ejecutar el script
    document.addEventListener("DOMContentLoaded", function () {
        // Obtiene la referencia al checkbox de creación de metodo
        const checkbox = document.getElementById('crear_metodo_checkbox');
        // Obtiene la referencia al div que contiene el select de metodos existentes
        const selectMetodoDiv = document.getElementById('select_metodo_div');
        // Obtiene la referencia al div que contiene el formulario de nueva metodo
        const formMetodoDiv = document.getElementById('form_metodo_div');
        // Obtiene todas las entradas del formulario de nuevo metodo
        const metodoFormFields = formMetodoDiv.querySelectorAll('input, select, textarea');

        // Agrega un evento de cambio al checkbox
        checkbox.addEventListener('change', function () {
            // Si el checkbox está marcado, mostrar el formulario de nuevo metodo y ocultar el select de metodos existentes
            if (checkbox.checked) {
                selectMetodoDiv.style.display = 'none';
                formMetodoDiv.style.display = 'block';
                // Habilita todos los campos del formulario de nueva metodo
                metodoFormFields.forEach(field => {
                    field.removeAttribute('disabled');
                });
            } else {
                // Si el checkbox no está marcado, mostrar el select de metodos existentes y ocultar el formulario de nueva metodo
                selectMetodoDiv.style.display = 'block';
                formMetodoDiv.style.display = 'none';
                // Deshabilita todos los campos del formulario de nuevo metodo
                metodoFormFields.forEach(field => {
                    field.setAttribute('disabled', 'disabled');
                });
            }
        });

        // Inicialmente deshabilita los campos del formulario de nuevo metodo
        metodoFormFields.forEach(field => {
            field.setAttribute('disabled', 'disabled');
        });
    });
</script>


{% endblock %}