{% extends 'accounts/base_dashboard.html' %}

{% load static %}

{% block title %}Editar Servicio{% endblock %}
{% block header %}Editar Servicio{% endblock %}

{% block content %}
<h1 class="text-center">Editar Servicio</h1>
<hr />
<!-- FORMULARIO -->
<div class="d-flex justify-content-center">
    <form action="" method="post" class="col-md-7" id="servicioForm">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                <h2>Método</h2>
                <div class="form-group">
                    <label for="metodo_select">Método:</label>
                    <select id="metodo_select" class="form-control" name="metodo">
                        <option value="">Seleccione un método</option>
                        {% for metodo in metodos %}
                        <option value="{{ metodo.id }}" {% if metodo.id == servicio.metodo.id %}selected{% endif %}>
                            {{ metodo.metodo }}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <h2>Servicio</h2>
                {{ servicio_form.as_p }}
            </div>
        </div>

        <div class="form-group text-right">
            <input type="submit" class="btn btn-success" value="Registrar">
            <a href="{% url 'servicios_list' %}" class="btn btn-danger">Cancelar</a>
        </div>
    </form>
</div>


{% endblock %}
