{% extends 'accounts/base_dashboard.html' %}
{% load static %}
{% block title %}Crear Servicio{% endblock %}
{% block header %}Crear Servicio{% endblock %}
{% block content %}
 <!-- TITULO Y FORMULARIO -->
<div class="container mt-4">
    <h1 class="text-center">Nuevo servicio</h1>
    <hr />
    <!-- FORMULARIO -->
    <div class="d-flex justify-content-center">
        <form action="{% url 'servicio_create' %}" method="post" class="col-md-7">
            {% csrf_token %}
            <!-- SELECCIONAR METODO -->
            <div class="row">
                <div class="col-md-12">
                    <!-- FORMULARIO DE SERVICIO -->
                    <h2>Servicio</h2>
                    {{ servicio_form.as_p }}
                </div>
            </div>

            <!-- BOTONES ACEPTAR CANDELAR-->
            <div class="form-group text-right">
                <input type="submit" class="btn btn-success" value="Registrar">
                <input type="button" class="btn btn-danger" value="Cancelar" onclick="location.href='{% url 'prospecto_list' %}'">
            </div>
        </form>
    </div>
</div>
{% endblock %}
