{% extends 'accounts/base_dashboard.html' %}

{% load static %}

{% block title %}Gestión de clientes{% endblock %}
{% block header %}Gestión de clientes{% endblock %}

{% block content %}

 <!-- TITULO Y FORMULARIO -->
<div class="container mt-4">
    <h1 class="text-center">Nuevo servicio</h1>
    <hr />
    <!-- FORMULARIO -->
    <div class="d-flex justify-content-center">
        <form action="{% url 'servicio_create' %}" method="post" class="col-md-7">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    <h2>Método</h2>
                    <div class="form-group">
                        <label for="metodo_select">Método:</label>
                        <select id="metodo_select" class="form-control" name="metodo">
                            <option value="" selected>Seleccione un método</option>
                            {% for metodo in metodos %}
                            <option value="{{ metodo.id }}">{{ metodo.nombre }}</option>
                            {% endfor %}
                            <option value="nuevo">Crear nuevo método</option>
                        </select>
                    </div>
                    <div id="nuevo_metodo_form" style="display: none;">
                        {{ metodo_form.as_p }}
                    </div>
                    <h2>Servicio</h2>
                    {{ servicio_form.as_p }}
                </div>
            </div>

            <!-- BOTONES ACEPTAR CANDELAR-->
            <div class="form-group text-right">
                <input type="submit" class="btn btn-success" value="Registrar">
                <input type="button" class="btn btn-danger" value="Cancelar" onclick="location.href='{% url 'prospecto_list' %}'">
            </div>
        </form>
    </div>
</div>

 <!-- SCRIPTS -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var metodoSelect = document.getElementById('metodo_select');
        var nuevoMetodoForm = document.getElementById('nuevo_metodo_form');
        var nombreInput = document.querySelector('#nuevo_metodo_form #id_nombre');

        metodoSelect.addEventListener('change', function() {
            if (this.value === 'nuevo') {
                nuevoMetodoForm.style.display = 'block';
                if (nombreInput) {
                    nombreInput.removeAttribute('disabled');
                    nombreInput.setAttribute('required', 'required');
                }
            } else {
                nuevoMetodoForm.style.display = 'none';
                if (nombreInput) {
                    nombreInput.setAttribute('disabled', 'disabled');
                    nombreInput.removeAttribute('required');
                }
            }
        });
    });
</script>

{% endblock %}
