{% extends 'accounts/base_dashboard.html' %}

{% load static %}

{% block title %}Editar Servicio{% endblock %}
{% block header %}Editar Servicio{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Editar servicio</h1>
    <hr />
    <!-- FORMULARIO -->
    <div class="d-flex justify-content-center">
        <form action="{% url 'servicio_update' servicio.id %}" method="post" class="col-md-7" id="servicioForm">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    <h2>Método</h2>
                    <div class="form-group">
                        <label for="metodo_select">Método:</label>
                        <select id="metodo_select" class="form-control" name="metodo">
                            <option value="" selected>Seleccione un método</option>
                            {% for metodo in metodos %}
                            <option value="{{ metodo.id }}" {% if servicio.metodo.id == metodo.id %}selected{% endif %}>{{ metodo.metodo }}</option>
                            {% endfor %}
                            <option value="nuevo">Crear nuevo método</option>
                        </select>
                    </div>
                    <div id="nuevo_metodo_form" style="display: none;">
                        {{ metodo_form.as_p }}
                    </div>
                    <h2>Servicio</h2>
                    {{ servicio_form.as_p }}
                </div>
            </div>

            <div class="form-group text-right">
                <input type="submit" class="btn btn-success" value="Registrar">
                <input type="button" class="btn btn-danger" value="Cancelar" onclick="location.href='{% url 'servicios_list' %}'">
            </div>
        </form>
    </div>
</div>
{% endblock %}
