<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'img/droplet-half.svg' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    {% block extra_css %}{% endblock %}
    <script>
        function filterTable(inputId, tableId) {
            var input, filter, table, tr, td, i, j, txtValue;
            input = document.getElementById(inputId);
            filter = input.value.toUpperCase();
            table = document.getElementById(tableId);
            tr = table.getElementsByTagName("tr");

            for (i = 1; i < tr.length; i++) { // Empieza en 1 para saltar el encabezado
                tr[i].style.display = "none";
                td = tr[i].getElementsByTagName("td");
                for (j = 0; j < td.length; j++) {
                    if (td[j]) {
                        txtValue = td[j].textContent || td[j].innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            break;
                        }
                    }
                }
            }
        }
    </script>
</head>

<body>

    <!-- BARRA DE ENCABEZADO -->
    <header class="">
        <nav class="navbar bg-body-tertiary fixed-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col d-flex align-items-center">
                        <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}" ><img src="{% static 'img/gotalogo.png' %}" alt="Logo"
                                style="max-height: 40px;" class="mr-2"> INADE Laboratorio Ambiental</a>
                    </div>
                    <div class="col d-flex align-items-center">
                        <!-- Enlace de Notificaciones -->
                        <a  class="navbar-brand" href="{% url 'notificaciones' %}" style="max-height: 40px; "> Notificaciones <img src="{% static 'img/campana.svg' %}" alt="">
                            {% if notificaciones_no_leidas > 0 %}
                            <span class="badge bg-danger">{{ notificaciones_no_leidas }}</span>
                            {% endif %}
                        </a>
                    </div>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><img src="{% static 'img/list.svg' %}" style="width: 20pt;"alt=""></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Hola!, {{ user.username|default:'Guest' }}
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'home' %}"><img src="{% static 'img/house-fill.svg' %}" alt=""> Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'cotizaciones_list' %}"><img src="{% static 'img/pencil.svg' %}" alt=""> Cotizaciones</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'cotizaciones_aceptadas_list' %}"><img src="{% static 'img/pencil.svg' %}" alt=""> Proyectos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'ordenes_list' %}"><img src="{% static 'img/clipboard-data.svg' %}" alt=""> Ordenes de Trabajo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'servicios_list' %}"><img src="{% static 'img/droplet-half.svg' %}" alt=""> Servicios y Métodos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'lista_clientes' %}"><img src="{% static 'img/people-fill.svg' %}"> Clientes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'prospecto_list' %}"><img src="{% static 'img/people.svg' %}"> Prospectos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'empresas_cont_list' %}"><img src="{% static 'img/building.svg' %}"> Empresas</a>
                            </li>
                            <hr style="border-color:darkgrey">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'usuario_list' %}"><img src="{% static 'img/person-hearts.svg' %}"> Usuarios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'editar_organizacion' %}"><img src="{% static 'img/diagram-3-fill.svg' %}"> Organización</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'formatos' %}"><img src="{% static 'img/card-checklist.svg' %}"> Formatos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}"><img src="{% static 'img/power.svg' %}"> Salir de sesión</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

    </header>

    <div class="content" style="margin-top: 80px;">

        <!-- Alertas -->
        {% include 'accounts/_alerts.html' %}
        <!-- CONTENIDO VARIANTE -->
        <main class="container mt-4" style="min-height: 80vh;">
            {% block content %}
            {% endblock %}
        </main>
    </div>

    <!-- PIE DE PAGINA -->
    <footer class="bg-light text-dark py-4 mt-auto">
        <div class="container">
            <hr class="border-dark">
            <div class="row align-items-center">
                <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
                    <p class="mb-0">
                        <a href="https://www.inade.mx/" class="text-dark">&copy; 2024 INADE Servicios Ambientales</a>
                        <br>
                        Ingeniería y Administración Estratégica, S.A. de C.V.
                    </p>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <a href="https://wa.me/your-whatsapp-number" class="text-dark mx-2">
                        <img src="{% static 'img/whatsapp.svg' %}" alt="WhatsApp" style="width: 30px; height: 30px;">
                    </a>
                    <a href="https://www.facebook.com/p/Ingenier%C3%ADa-y-Administraci%C3%B3n-Estrat%C3%A9gica-SA-de-CV-100067820710003/"
                        class="text-dark mx-2">
                        <img src="{% static 'img/facebook.svg' %}" alt="Facebook" style="width: 30px; height: 30px;">
                    </a>
                    <a href="mailto:inade@inade.mx" class="text-dark mx-2">
                        <img src="{% static 'img/gmail.svg' %}" alt="Gmail" style="width: 30px; height: 30px;">
                    </a>
                </div>
            </div>
        </div>
    </footer>


    <!-- Scripts -->
    <!-- Scripts de alertas -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var alertList = document.querySelectorAll('.alert');
            alertList.forEach(function (alert) {
                setTimeout(function () {
                    var fadeEffect = setInterval(function () {
                        if (!alert.style.opacity) {
                            alert.style.opacity = 1;
                        }
                        if (alert.style.opacity > 0) {
                            alert.style.opacity -= 0.1;
                        } else {
                            clearInterval(fadeEffect);
                            alert.style.display = 'none';
                        }
                    }, 50);
                }, 5000); // Tiempo de espera en milisegundos (5 segundos)
            });
        });
    </script>
    <!-- Scripts de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS (incluye Popper) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <!--    Script para Model cliente registrar -->


    {% block extra_js %}{% endblock %}
</body>

</html>