<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Configuración de codificación de caracteres y vista -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Título de la página, se puede definir en las plantillas hijas -->
    <title>{% block title %}{% endblock %}</title>
    <!-- Carga de archivos estáticos de Django -->
    {% load static %}
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'img/droplet-half.svg' %}">
    <!-- Inclusión de CSS de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <!-- Incluye SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <!-- Script para filtrar tablas -->
    <!-- Script para filtrar tablas -->
    <script>
        function filterTable(inputId, tableId) {
            var input, filter, table, tr, td, i, j, txtValue;   
            input = document.getElementById(inputId);
            filter = input.value.toUpperCase();
            table = document.getElementById(tableId);
            tr = table.getElementsByTagName("tr");

            for (i = 1; i < tr.length; i++) { // Empieza en 1 para saltar el encabezado
                tr[i].style.display = "none";
                td = tr[i].getElementsByTagName("td");
                for (j = 0; j < td.length; j++) {
                    if (td[j]) {
                        txtValue = td[j].textContent || td[j].innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            break;
                        }
                    }
                }
            }
        }
    </script>
    {% block extra_css %}{% endblock %}

</head>

<body>

    <!-- BARRA DE ENCABEZADO -->
    <header class="">
        <nav class="navbar bg-body-tertiary fixed-top">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}">

                        <!-- Por ejemplo, en cualquier archivo HTML como base.html o menu.html -->

                        {% if organization_logo %}
                        <img src="{{ organization_logo }}" alt="Logo de la Organización" style="max-height: 40px;"
                            class="mr-2">
                        {{ organization_name }}
                        {% else %}
                        <p>No logo available</p>
                        {% endif %}
                    </a>
                </div>
                <div class="d-flex align-items-center">
                    <!-- Enlace de Notificaciones -->

                    <a type="button" class="btn btn-Light position-relative" href="{% url 'notificaciones' %}">
                        Notificaciones
                        {% if notificaciones_no_leidas > 0 %}
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            {{ notificaciones_no_leidas }}
                            <span class="visually-hidden">mensajes no leídos</span>
                        </span>
                        {% endif %}
                    </a>

                    <!-- Botón del Menú -->
                    <button class="navbar-toggler ms-2" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><img src="{% static 'img/list.svg' %}" style="width: 20pt;" alt=""></span>
                    </button>
                </div>
            </div>
        </nav>
    </header>

    <!-- Contenido del offcanvas -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Hola! 🖐️
                {{ user.first_name|default:'Guest' }}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <!--#   LINK HOME   -->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}"><img
                            src="{% static 'img/house-fill.svg' %}" alt=""> Home</a>
                </li>
                <!--#   LINK COTIZACIONES   -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cotizaciones_list' %}"><img src="{% static 'img/pencil.svg' %}"
                            alt=""> Cotizaciones</a>
                </li>
                <!--#   LINK COTIZACIONES ACEPTADAS/PROYECTOS   -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cotizaciones_aceptadas_list' %}"><img
                            src="{% static 'img/pencil.svg' %}" alt=""> Proyectos</a>
                </li>
                <!--#   LINK ORDENES DE TRABAJO     -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ordenes_list' %}"><img src="{% static 'img/clipboard-data.svg' %}"
                            alt=""> Ordenes de Trabajo</a>
                </li>
                <!--#   LINK CLIENTES   -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lista_clientes' %}"><img src="{% static 'img/people-fill.svg' %}">
                        Clientes</a>
                </li>
                <!--#   LINK PROSPECTOS     -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'prospecto_list' %}"><img src="{% static 'img/people.svg' %}">
                        Prospectos</a>
                </li>
                <!--#   LINK EMPRESAS   -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'empresas_cont_list' %}"><img
                            src="{% static 'img/building.svg' %}"> Empresas</a>
                </li>

                <!--#   LINK SERVICIOS Y METODOS    -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'servicios_list' %}"><img src="{% static 'img/droplet-half.svg' %}"
                            alt=""> Servicios y Métodos</a>
                </li>

                <!--#   LINK FACTURAS   -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'facturas_list' %}"><img src="{% static 'img/cash.svg' %}"
                            alt=""> Facturas</a>
                </li>

                <hr style="border-color:darkgrey">
                <h6>Configuraciones</h6>
                <!--#   LINK USUARIOS   -->
                <li class="nav-item"><a class="nav-link" href="{% url 'usuario_list' %}">
                        <img src="{% static 'img/person-hearts.svg' %}"> Usuarios</a>
                </li>
                <!--#   LINK CONFIGURACION   -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'config_org' %}"><img src="{% static 'img/gear-wide-connected.svg' %}"> Configuracion</a>
                </li>
                <!--#   LINK QUEJAS Y SEUGERENCIAS  -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'enviar_queja' %}"><img
                            src="{% static 'img/person-raised-hand.svg' %}"> Quejas y sugerencias</a>
                </li>


                <hr style="border-color:darkgrey">

                <!--#   LINK SALIR DE SESION    -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}"><img src="{% static 'img/power.svg' %}"> Salir de
                        sesión</a>
                </li>
                <!--#   LINK GUIA DE OPERACIONES    -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'guia_operaciones' %}"><img
                            src="{% static 'img/question-circle.svg' %}"> Guía de operaciones</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="content" style="margin-top: 10vh;">
        <!-- Contenido principal de la página -->
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>

    <!-- PIE DE PAGINA -->


    <!-- Bloque para JavaScript adicional, definido en plantillas hijas -->
    {% block extra_js %}{% endblock %}
    <!-- Scripts de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <!-- Incluye SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Script para mostrar mensajes de Django con SweetAlert2 -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            {% if messages %}
            {% for message in messages %}
            Swal.fire({
                title: "{% if message.tags %}{{ message.tags|capfirst }}{% else %}Información{% endif %}",
                text: "{{ message }}",
                icon: "{% if message.tags == 'success' %}success{% elif message.tags == 'info' %}info{% elif message.tags == 'warning' %}warning{% elif message.tags == 'danger' %}error{% else %}info{% endif %}",
                confirmButtonText: 'Aceptar'
            });
            {% endfor %}
            {% endif %}
        });

    </script>
</body>

</html>