{% extends 'accounts/base_dashboard.html' %}
{% load static %}
{% block title %}Ordenes de Trabajo{% endblock %}
{% block header %}Ordenes de Trabajo{% endblock %}
{% block content %}

<!-- SECCION DE TITULO ENCABEZANDO -->
<div class="row">
    <div class="col">
        <h1 class="text-center">Ordenes de Trabajo</h1>
        <hr />
    </div>
</div>

<!-- BUSCADOR -->
<div class="row mb-3 justify-content-center">
    <div class="col-md-6">
        <div class="input-group mb-3">
            <input type="text" id="searchInput" class="form-control" placeholder="Buscar ordenes de trabajo..." onkeyup="filterTable('searchInput', 'ordenesTable')">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" onclick="filterTable('searchInput', 'ordenesTable')">Buscar</button>
            </div>
        </div>
    </div>
</div>
<!-- TABLA -->
<div class="row">
    <div class="col">
        <div class="table-responsive" style="max-height: 75vh; overflow-y: auto;">
            <table id="ordenesTable" class="table table-hover">
                <!-- ENCABEZADO DE TABLA -->
                <thead class="thead-light">
                    <tr>
                        <th><a href="?order_by=id_personalizado">ID</a></th>
                        <th><a href="?order_by=cotizacion">Cotización</a></th>
                        <th><a href="?order_by=cotizacion__persona__nombre">Cliente</a></th>
                        <th><a href="?order_by=receptor__last_name">Recibe</a></th>
                        <th><a href="?order_by=estado">Estado</a></th>
                        <th><a href="?order_by=cotizacion__fecha_caducidad">Vigencia</a></th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <!-- CUERPO DE TABLA -->
                <tbody>
                    {% for orden in ordenes_page %}
                    <tr>
                        <td>{{ orden.id_personalizado }}</td>
                        <td>{{ orden.cotizacion }}</td>
                        <td>{{ orden.cotizacion.persona }} </td>
                        <td>{{ orden.receptor.first_name }} {{ orden.receptor.last_name }}</td>
                        <td>{% if orden.estado %}Terminado{% else %}Pendiente{% endif %}</td>
                        <td>{{ orden.cotizacion.fecha_caducidad}}</td>
                        <td><a href="{% url 'detalle_orden_trabajo' orden.id_personalizado %}" class="btn btn-primary btn-sm">Detalles</a></td>
                        <td><a href="" class="btn btn-primary btn-sm">Cambio estado</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>Numero de ordenes de trabajo: {{ordenes.count}}</p>

            <div class="pagination">
                {% if ordenes_page.has_previous %}
                    <a href="?page=1&order_by={{ request.GET.order_by }}">Primera</a>
                    <a href="?page={{ ordenes_page.previous_page_number }}&order_by={{ request.GET.order_by }}">Anterior</a>
                {% endif %}
                Página {{ ordenes_page.number }} de {{ ordenes_page.paginator.num_pages }}.
                {% if ordenes_page.has_next %}
                    <a href="?page={{ ordenes_page.next_page_number }}&order_by={{ request.GET.order_by }}">Siguiente</a>
                    <a href="?page={{ ordenes_page.paginator.num_pages }}&order_by={{ request.GET.order_by }}">Última</a>
                {% endif %}
            </div>
            
        </div>
    </div>
</div>

{% endblock %}

