{% extends 'accounts/base_dashboard.html' %}
{% load static %}
{% block title %}Detalles de la Cotización{% endblock %}
{% block header %}Detalles de la Cotización{% endblock %}
{% block content %}

<div class="container">
     <h1>Detalle de la Orden de Trabajo: {{ orden_trabajo.id_personalizado }}</h1>
     <p><strong>Receptor:</strong> {{ orden_trabajo.receptor }}</p>
     <p><strong>Dirección:</strong> {{ orden_trabajo.direccion }}</p>
     <p><strong>Estado:</strong> {{ orden_trabajo.estado }}</p>
     <p><strong>Gestión:</strong> {{ orden_trabajo.gestion }}</p>
 
     <h2>Conceptos Asociados</h2>
     <ul>
         {% for concepto in conceptos %}
         <li>
             <strong>Servicio:</strong> {{ concepto.servicio.nombre_servicio }},
             <strong>Método:</strong> {{ concepto.servicio.metodo }},
             <strong>Cantidad:</strong> {{ concepto.cantidad_servicios }},
             <strong>Precio:</strong> {{ concepto.precio }},
             <strong>Notas:</strong> {{ concepto.notas }}
         </li>
         {% endfor %}
     </ul>
 </div>

{% endblock %}