{% extends 'accounts/base_dashboard.html' %}
{% load static %}
{% block title %}Ordenes de Trabajo{% endblock %}
{% block header %}Ordenes de Trabajo{% endblock %}
{% block content %}

<!-- SECCION DE TITULO ENCABEZANDO -->
<div class="row">
    <div class="col">
        <h1 class="text-center">Ordenes de Trabajo</h1>
        <hr />
    </div>
</div>

<!-- BUSCADOR -->
<div class="row mb-3 justify-content-center">
    <div class="col-md-6">
        <div class="input-group mb-3">
            <input type="text" id="searchInput" class="form-control" placeholder="Buscar ordenes de trabajo..." onkeyup="filterTable('searchInput', 'ordenesTable')">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" onclick="filterTable('searchInput', 'ordenesTable')">Buscar</button>
            </div>
        </div>
    </div>
</div>
<!-- TABLA -->
<div class="row">
    <div class="col">
        <div class="table-responsive" style="max-height: 75vh; overflow-y: auto;">
            <table id="ordenesTable" class="table table-hover">
                <!-- ENCABEZADO DE TABLA -->
                <thead class="thead-light">
                    <tr>
                        <th>ID</th>
                        <th>Cotización</th>
                        <th>Cliente</th>
                        <th>Recibe</th>
                        <th>Estado</th>
                        <th>Vigencia</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <!-- CUERPO DE TABLA -->
                <tbody>
                    {% for orden in ordenes %}
                    <tr>
                        <td>{{ orden.id_personalizado }}</td>
                        <td>{{ orden.cotizacion }}</td>
                        <td>{{ orden.cotizacion.persona }} </td>
                        <td>{{ orden.receptor.first_name }} {{ orden.receptor.last_name }}</td>
                        <td>{% if orden.estado %}Terminado{% else %}Pendiente{% endif %}</td>
                        <td>{{ orden.cotizacion.fecha_caducidad}}</td>
                        <td><a href="" class="btn btn-primary btn-sm">Detalles</a></td>
                        <td><a href="" class="btn btn-primary btn-sm">Actualizar estado</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>Numero de prospectos: {{ordenes.count}}</p>
        </div>
    </div>
</div>

{% endblock %}

