{% extends 'accounts/base_dashboard.html' %}
{% load static %}
{% block title %}Detalles de la Orden de trabajo{% endblock %}
{% block header %}Detalles de la Orden de trabajo{% endblock %}
{% block content %}
<style>
    .gestion-alert {
        color: #ffffff;
        /* Texto en color blanco */
        background-color: #1cb75a;
        /* Fondo rojo para indicar importancia */
        padding: 10px;
        /* Espaciado interno para que el mensaje no esté tan apretado */
        border: 1px solid #1cb75a;
        /* Borde más oscuro para más contraste */
        border-radius: 5px;
        /* Bordes redondeados para un look más moderno */
        display: inline-block;
        /* Asegura que el padding y border afecten correctamente */
        margin-top: 10px;
        /* Espacio arriba para separarlo de otros elementos */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        /* Sombra ligera para más profundidad */
    }
</style>

<div class="container-xxl mt-4 mb-5">
    <h1 class="text-center">Detalles de la Orden de Trabajo: {{ orden_trabajo.id_personalizado }}</h1>
    <hr />
    <!-- BOTONES DE ACCIÓN -->
    <div class="dropdown text-end dropleft">
        <!-- Botón para activar el dropdown -->
        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
            aria-expanded="false">
            Acciones para orden de trabajo
        </button>
        <!-- Elementos del dropdown -->
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="{% url 'cotizacion_detalle' orden_trabajo.cotizacion.id %}"><img src="{% static 'img/box-arrow-up-right.svg' %}"> Ir a cotización</a></li>
            <li><a class="dropdown-item" href="{% url 'crear_factura' orden_trabajo.id_personalizado %}"><img src="{% static 'img/calculator-fill.svg' %}">  Facturar</a></li>
            <li><a class="dropdown-item" href="{% url 'orden_trabajo_pdf' orden_trabajo.id_personalizado %}" target="_blank"><img src="{% static 'img/filetype-pdf.svg' %}">Ver PDF</a></li>
            <li><a href="{% url 'enviar_orden' orden_trabajo.id_personalizado orden_trabajo.receptor.email %}" class="dropdown-item"><img src="{% static 'img/envelope.svg' %}"> Enviar Orden de Trabajo</a></li>
        </ul>
    </div>
    
    
    <!-- Card de información con estilos mejorados de Bootstrap -->
    <div class="card border-light mb-3 mt-4">
        <div class="card-header">Información</div>
        {% if orden_trabajo.gestion %}
        <div class="card-header bg-danger bg-gradient text-white text-center">
            <strong>
                
                ¡Atención! Esta orden de trabajo requiere gestión.
                
            </strong>
        </div>
        {% endif %}
        <div class="card-body">

            <div class="row card-text">
    
                <p><strong>Cliente:</strong> {{ orden_trabajo.cotizacion.persona.empresa.nombre_empresa }}</p>
                <p><strong>Receptor:</strong> {{ orden_trabajo.receptor }}</p>
                <p><strong>Dirección:</strong> {{ orden_trabajo.direccion }}</p>
                <p><strong>Estado:</strong>{% if orden_trabajo.estado %} Terminado {% else %} Pendiente {% endif %}</p>
            </div>
            <div>
                <p class="mb-0"><strong>Comentarios:</strong> {{ data.Observations }}</p>
            </div>
    
        </div>
    </div>

    <h2>Conceptos Asociados</h2>
    <!-- DETALLES DE CONCEPTOS -->
    <h3 class="text-center">Servicios</h3>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Nombre del servicio</th>
                    <th>Método</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Notas</th>
                </tr>
            </thead>
            <tbody>
                {% for concepto in conceptos %}
                <tr>
                    <td>{{ concepto.concepto.servicio.nombre_servicio}}</td>
                    <td>{{ concepto.concepto.servicio.metodo }}</td>
                    <td>{{ concepto.concepto.cantidad_servicios }}</td>
                    <td>{{ concepto.concepto.precio }}</td>
                    <td> {% if concepto.descripcion_personalizada == NULL %} {{concepto.concepto.notas}} {% else %}
                        {{ concepto.descripcion_personalizada }} {% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}