{% extends 'accounts/base_dashboard.html' %}
{% load static %}
{% block title %}Facturas{% endblock %}
{% block header %}Facturas{% endblock %}
{% block content %}
<div class="container">
     <!-- SECCION DE TITULO ENCABEZANDO -->
     <div class="row">
          <div class="col">
               <h1 class="text-center">Factura {{ id }} </h1>
               <hr />
          </div>
     </div>
     <!-- BOTONES DE ACCIÓN -->
     <div class="dropdown text-end dropleft m-3">
          <!-- Botón para activar el dropdown -->
          <button class="btn btn-success dropdown-toggle mt-3" type="button" id="dropdownMenuButton"
              data-bs-toggle="dropdown" aria-expanded="false">
              Acciones para factura
          </button>
          <!-- Elementos del dropdown -->
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          
               {% if factura.estado == 'active' %}
               <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#CancelarCFDI">Cancelar factura</button>
               <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ComprobanteCFDI">Generar comprobante de pago</button>
               <li><a class="dropdown-item" href="{% url 'comprobante_pago' factura.cfdi_id %}">Comprobar pago</a></li>
               <li>
                    <a class="dropdown-item" href="{% url 'generar_factura_pdf' factura.cfdi_id %}" target="_blank">
                         {% if factura.pdf_file %}
                              Descargar PDF
                         {% else %}
                              Generar PDF
                         {% endif %}
                    </a>
               </li>
               <li>
                    <a class="dropdown-item" href="{% url 'generar_factura_xml' factura.cfdi_id %}">
                         {% if factura.xml_file %}
                              Descargar XML
                         {% else %}
                              Generar XML
                         {% endif %}
                    </a>
               </li>
               {% else %}
               <li>
                    <a class="dropdown-item" href="{% url 'generar_factura_pdf' factura.cfdi_id %}" target="_blank">
                         {% if factura.pdf_file %}
                              Descargar PDF
                         {% else %}
                              Generar PDF
                         {% endif %}
                    </a>
               </li>
               <li>
                    <a class="dropdown-item" href="{% url 'generar_factura_xml' factura.cfdi_id %}">
                         {% if factura.xml_file %}
                              Descargar XML
                         {% else %}
                              Generar XML
                         {% endif %}
                    </a>
               </li>
               {% endif %}

          </ul>
      </div>
     <table class="table table-bordered">
          <thead>
               <tr>
                    <th colspan="2" class="text-center">FACTURA</th>
               </tr>
          </thead>
          <tbody>
               <tr>
                    <th scope="row">ID</th>
                    <td>factura {{ id }}</td>
               </tr>
               <tr>
                    <th scope="row">CFDI ID</th>
                    <td> {{ factura.cfdi_id }}</td>
               </tr>
               <tr>
                    <th scope="row">Orden de Trabajo</th>
                    <td> {{ factura.orden }}</td>
               </tr>
               <tr>
                    <th scope="row">Receptor / Cliente</th>
                    <td> {{ factura.emisor }}</td>
               </tr>
               <tr>
                    <th scope="row">Tipo Moneda</th>
                    <td> {{ factura.tipo_moneda }}</td>
               </tr>
               <tr>
                    <th scope="row">Uso CFDI</th>
                    <td> {{ factura.uso_cfdi }}</td>
               </tr>
               <tr>
                    <th scope="row">Forma de Pago</th>
                    <td> {{ factura.forma_pago }}</td>
               </tr>
               <tr>
                    <th scope="row">Metodo de Pago</th>
                    <td> {{ factura.metodo_pago }}</td>
               </tr>
               <tr>
                    <th scope="row">ExchangeRate</th>
                    <td> {{ factura.ExchangeRate }}</td>
               </tr>
               <tr>
                    <th scope="row">Descuento</th>
                    <td> {{ factura.Discount }}</td>
               </tr>
               <tr>
                    <th scope="row">Subtotal</th>
                    <td> {{ factura.subtotal }}</td>
               </tr>
               <tr>
                    <th scope="row">Tasa IVA</th>
                    <td> {{ factura.tasa_iva }}</td>
               </tr>
               <tr>
                    <th scope="row">IVA</th>
                    <td> {{ factura.iva }}</td>
               </tr>
               <tr>
                    <th scope="row">Total</th>
                    <td> {{ factura.total }}</td>
               </tr>
               <tr>
                    <th scope="row">Fecha</th>
                    <td> {{ factura.fecha_creacion }}</td>
               </tr>
               <tr>
                    <th scope="row">Estado</th>
                    <td> {{ factura.estado }}</td>
               </tr>
               <tr>
                    <th scope="row">ExpeditionPlace</th>
                    <td> {{ factura.ExpeditionPlace }}</td>
               </tr>

          </tbody>
     </table>
</div>

<!-- Modal para cancelar cfdi -->
<div class="modal fade" id="CancelarCFDI" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
     <div class="modal-dialog">
          <div class="modal-content">
               <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Cancelando Factura</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               
               <div class="modal-body">
                    
                    <form action="{% url 'cancelar_factura' %}" method="post" id="cancelarCFDIForm">
                         {% csrf_token %}
                         <div class="mb-3">
                              {{ form_cancel.factura_id }}
                              {{ form_cancel.motive.label }}
                              {{ form_cancel.motive }} <!-- Asegúrate de que esto tenga un ID -->
                              <div id="uuidFieldContainer" style="display: none;" class="mt-2">
                                   <!-- Imprimir el label y el campo uuid_replacement manualmente -->
                                   {{ form_cancel.uuid_replacement.label }}
                                   {{ form_cancel.uuid_replacement }} <!-- Renderizar el campo de UUID -->
                              </div>
                         </div>
                    </form>
               </div>

               <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" form="cancelarCFDIForm">Guardar Cambios</button>
               </div>
          </div>
     </div>
</div>
 Aqui esta el modal para pedir 
<div class="modal" id="ComprobanteCFDI" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
     <div class="modal-dialog">
          <div class="modal-content">
               <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Comprobante de pago</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body">
                    <form action="" method="post" id="comprobanteForm">
                         {% csrf_token %}

                    </form>
               </div>
               <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" form="comprobanteForm">Generar Comprobante</button>
               </div>
          </div>
     </div>
</div>

<script>
     document.addEventListener('DOMContentLoaded', function () {
         const selectOpciones = document.getElementById('select_opciones'); // Asegúrate de que este ID coincida
         const uuidFieldContainer = document.getElementById('uuidFieldContainer');
         const uuidReplacementField = document.getElementById('uuid_replacement');
 
         function toggleUUIDField() {
             if (selectOpciones.value === '01') {
                 uuidFieldContainer.style.display = 'block'; // Mostrar el campo
             } else {
                 uuidFieldContainer.style.display = 'none'; // Ocultar el campo
                 uuidReplacementField.value = ''; // Limpiar el campo si se oculta
             }
         }
 
         // Inicialmente ocultamos el campo
         toggleUUIDField();
 
         // Escuchar cambios en el select
         selectOpciones.addEventListener('change', toggleUUIDField);
     });
 </script>
 
{% endblock %}