{% extends 'accounts/base_dashboard.html' %}
{% load static %}
{% block title %}Facturas{% endblock %}
{% block header %}Facturas{% endblock %}
{% block content %}
<div class="container-xl">
     <!-- SECCION DE TITULO ENCABEZANDO -->
     <div class="row">
          <div class="col">
               <h1 class="text-center">Facturas</h1>
               <hr />
          </div>
     </div>
     <!-- BUSCADOR -->
     <div class="row mb-3 justify-content-center">
          <div class="col-md-6">
               <div class="input-group mb-3">
                    <input type="text" id="searchInput" class="form-control" placeholder="Buscar cotizaciones..."
                         onkeyup="filterTable('searchInput', 'cotizacionesTable')">
                    <div class="input-group-append">
                         <button class="btn btn-outline-secondary" type="button" onclick="filterTable('searchInput', 'cotizacionesTable')">Buscar</button>
                    </div>
               </div>
          </div>
     </div>

     <!-- TABLA -->
    <div class="row">
          <div class="col">
               <div class="table-responsive" style="min-height: 75vh; overflow-y: auto;">
                    <table id="cotizacionesTable" class="table table-hover">
                         <!-- ENCABEZADO DE TABLA -->
                         <thead class="thead-light">
                              <tr>
                                   
                                   <th colspan="1"><a href="" class="link-secondary">Factura</a></th>
                                   <th><a href="" class="link-secondary">Fecha</a></th>
                                   <th><a href="" class="link-secondary">Cliente</a></th>
                                   <th><a href="" class="link-secondary">Importe</a></th>
                                   <th><a href="" class="link-secondary">Estado</a></th>
                                   <th></th>
                              </tr>
                         </thead>
                         <!-- CUERPO DE TABLA -->
                         <tbody>
                              {% for factura in facturas %}
                              <tr>
                                   <td>
                                        <div class="row">
                                             <a href="">{{ factura.id }}</a><br>
                                             <div class="col small">
                                                  {{ factura.cfdi_id}}
                                             </div>
                                        </div>
                                   </td>
                                   <td>{{ factura.fecha_creacion|date:"d/m/y H:i" }}</td>
                                   <td>{{ factura.cliente.empresa.nombre_empresa}}</td>
                                   <td>$ {{ factura.total}}</td>
                                   <td>{{ factura.estado}}</td>
                                   <td><a href="{% url 'factura_detalle' factura.cfdi_id %}" class="btn btn-primary btn-sm">Detalles</a></td>
                              </tr>
                              {% endfor %}
                         </tbody>
                    </table>
                   
                    <nav aria-label="Page navigation">
                         <ul class="pagination justify-content-center">
                             {% if facturas.has_previous %}
                                 <li class="page-item">
                                     <a class="page-link" href="?page=1" aria-label="Primera">
                                         <span aria-hidden="true">&laquo;</span> Primera
                                     </a>
                                 </li>
                                 <li class="page-item">
                                     <a class="page-link" href="?page={{ facturas.previous_page_number }}" aria-label="Anterior">
                                         Anterior
                                     </a>
                                 </li>
                             {% endif %}
                     
                             <li class="page-item disabled">
                                 <span class="page-link">Página {{ facturas.number }} de {{ facturas.paginator.num_pages }}</span>
                             </li>
                     
                             {% if facturas.has_next %}
                                 <li class="page-item">
                                     <a class="page-link" href="?page={{ facturas.next_page_number }}" aria-label="Siguiente">
                                         Siguiente
                                     </a>
                                 </li>
                                 <li class="page-item">
                                     <a class="page-link" href="?page={{ facturas.paginator.num_pages }}" aria-label="Última">
                                         Última &raquo;
                                     </a>
                                 </li>
                             {% endif %}
                         </ul>
                     </nav>
                     
               </div>
          </div> 
    </div>
</div>


<!-- Modal para Crear nueva factura cfdi -->
<div class="modal fade" id="NewFac" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-xl">
          <div class="modal-content">
               <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Ordenes de trabajo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>

               <div class="modal-body">
               
                    <!-- TABLA -->
                    <table id="ordenesTable" class="table table-hover">
                         <!-- ENCABEZADO DE TABLA -->
                         <thead class="thead-light">
                              <tr>
                                   <th>ID</th>
                                   <th>Cotización</th>
                                   <th>Cliente</th>
                                   <th colspan="1">Opciones</th>
                              </tr>
                         </thead>
                         <!-- CUERPO DE TABLA -->
                         <tbody>
                              {% for orden in ordenes %}
                              <tr>
                                   <td>{{ orden.id_personalizado }}</td>
                                   <td>{{ orden.cotizacion }}</td>
                                   <td>{{ orden.cotizacion.persona.empresa }} </td>
                                   <td><a class="btn btn-success" href="{% url 'crear_factura' orden.id_personalizado %}">
                                             <img src="{% static 'img/calculator-fill.svg' %}" style="filter: invert(1);"> Facturar</a>
                                   </td>
                              </tr>
                              {% empty %}
                              <tr>
                                   <td colspan="4">No hay órdenes disponibles.</td>
                              </tr>
                              {% endfor %}
                         </tbody>
                    </table>
 
                    <!-- Spinner -->
                    <div id="loading2" style="display: none;" class="text-center">
                         <div class="spinner-border text-secondary" role="status">
                              <span class="visually-hidden">Cargando...</span>
                         </div>
                         <p>Por favor, espera...</p>
                    </div>
               </div>

               <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" form="">Facturar</button>
               </div>
          </div>
     </div>
</div>
{% endblock %}