{% extends 'accounts/base_dashboard.html' %}
{% load static %}
{% block title %}Detalles de la Orden de trabajo{% endblock %}
{% block header %}Detalles de la Orden de trabajo{% endblock %}
{% block content %}
<style>
     .form-row div.form-group {
          margin: 0 auto;
          width: 100%;
          max-width: 200px;
     }
</style>
<div class="container">
     <!-- FORMULARIO -->
     <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.non_field_errors }}
          <!-- CARD -->
          <div class="card border-light mb-3">
               <!-- ENCABEZADO DE CARD -->
               <div class="card-header text-center">
                    <div class="p-2">
                         <h3>Facturar {{orden.id_personalizado}}</h3>
                         <div class="row">
                              <div class="col col-1">
                                   <img src="{{ organization_logo }}" alt="Logo de la Organización" style="max-height: 40px;"
                                        class="mr-2">
                              </div>
                              <div class="col text-start card-text ">
                                   <h5>Emisor</h5>
                                   <p>
                                        <strong>{{ organization_name }}</strong><br>
                                        <strong>RFC:</strong>
                                        <strong>Telefono: </strong>{{organization.telefono}} <br>
                                        <strong>Direccion: </strong>{{ organization.direccion }}
                                   </p>
                              </div>
                              <div class="col text-start">
                                   <h5 class="card-title">Receptor</h5>
                                   <strong>Nombre Receptor</strong> {{cliente.empresa.nombre_empresa}} <br>
                                   <strong>RFC:</strong> {{cliente.empresa.rfc }} <br>
                                   <strong>Regimen Fiscal: </strong> {{cliente.empresa.regimen_fiscal}}
                                   <input type="hidden" name="id_cliente_rfc" id="id_cliente_rfc" value="{{ cliente.empresa.rfc }}">
                                   <input type="hidden" name="id_cliente_reg" id="id_cliente_reg" value="{{ cliente.empresa.regimen_fiscal }}">
                                   <input type="hidden" name="id_cliente_nombre" id="id_cliente_nombre" value="{{ cliente.empresa.nombre_empresa }}">
                                   <input type="hidden" name="id_cliente_cp" id="id_cliente_cp" value="{{ cliente.empresa.direccion.codigo }}">
                              </div>
                         </div>
                    </div>
               </div>
               <!-- CUERPO DE CARD -->
               <div class="card-body ">
                    <div class="form-row mb-3">
                         <div class="form-group">
                              {{ encabezado_form.tipo_moneda.label_tag }}
                              {{ encabezado_form.tipo_moneda }}
                              {% if encabezado_form.tipo_moneda.errors %}
                              <div class="text-danger">
                                   {{ encabezado_form.tipo_moneda.errors }}
                              </div>
                              {% endif %}
                         </div>

                         <div class="form-group">
                              {{ encabezado_form.OrderNumber.label_tag }}
                              {{ encabezado_form.OrderNumber }}
                              {% if encabezado_form.OrderNumber.errors %}
                              <div class="text-danger">
                                   {{ encabezado_form.OrderNumber.errors }}
                              </div>
                              {% endif %}
                         </div>
                         <div class="form-group">
                              {{ encabezado_form.uso_cfdi.label_tag }}
                              {{ encabezado_form.uso_cfdi }}
                              {% if encabezado_form.uso_cfdi.errors %}
                              <div class="text-danger">
                                   {{ encabezado_form.uso_cfdi.errors }}
                              </div>
                              {% endif %}
                         </div>

                         <div class="form-group">
                              {{ encabezado_form.forma_pago.label_tag }}
                              {{ encabezado_form.forma_pago }}
                              {% if encabezado_form.forma_pago.errors %}
                              <div class="text-danger">
                                   {{ encabezado_form.forma_pago.errors }}
                              </div>
                              {% endif %}
                         </div>

                         <div class="form-group">
                              {{ encabezado_form.metodo_pago.label_tag }}
                              {{ encabezado_form.metodo_pago }}
                              {% if encabezado_form.metodo_pago.errors %}
                              <div class="text-danger">
                                   {{ encabezado_form.metodo_pago.errors }}
                              </div>
                              {% endif %}
                         </div>
                         
                    </div>
               </div>
          </div>

          {{formset.as_p}}


          <!-- DETALLES DE CONCEPTOS -->
          <div class="table-responsive">
               <table class="table table-hover">
                    <thead class="thead-light">
                         <tr>
                              <th class="col-1">Código</th>
                              <th>Nombre del servicio</th>
                              <th>Método</th>
                              <th class="col-1">Cantidad</th>
                              <th class="col-1">Precio</th>
                              <th class="col-1">Importe</th>
                         </tr>
                    </thead>
                    <tbody id="conceptos-table-body">
                         <!-- Aquí se agregarán los formularios -->
                         {% for concepto in conceptos %}
                         <tr class="concepto-row">
                              <input type="hidden" name="id_concepto" id="id_concepto" value="{{ concepto.concepto.id }}">
                              <td class="col-1">
                                   <input type="text" name="concepto.concepto.servicio.codigo_{{ forloop.counter }}"
                                   value="{{concepto.concepto.servicio.codigo}}" class="form-control" readonly>
                              </td>
                              <td class="col-3">
                                   <input type="text" name="nombre_servicio_{{ forloop.counter }}"
                                        value="{{ concepto.concepto.servicio.nombre_servicio }}" class="form-control" readonly>
                              </td>
                              <td class="col-2">
                                   <input type="text" name="metodo_{{ forloop.counter }}"
                                        value="{{ concepto.concepto.servicio.metodo }}" class="form-control" readonly>
                              </td>
                              <td class="col-1">
                                   <input type="number" name="cantidad_servicios_{{ forloop.counter }}"
                                        value="{{ concepto.concepto.cantidad_servicios }}" class="form-control" readonly>
                              </td>
                              <td class="col-1">
                                   <input type="number" step="0.01" name="precio_{{ forloop.counter }}"
                                        value="{{ concepto.concepto.precio }}" class="form-control" readonly>
                              </td>
                              <td class="col-1">
                                   <input type="text" name="importe_{{ forloop.counter }}" step="0.01" value="{{ concepto.concepto.total }}"  class="form-control concepto-importe" readonly>
                              </td>
                         </tr>
                         {% endfor %}
                    </tbody>
               </table>

               <!-- <div class="row">
                    <a id="add-concepto" class="btn btn-light" href="#">Agrega servicio</a>
               </div> -->
          </div>

          <div class="row">
               <div class="col">
                    {{ pie_form.as_p }}
               </div>
               <div class="col col-3">
                    <div class="form-group">
                         <!-- Renderizar la etiqueta (label) del campo subtotal -->
                         {{ totales_form.subtotal.label_tag }}
                         <!-- Renderizar el campo subtotal con los atributos personalizados -->
                         <input type="number" name="subtotal" step="0.01" class="form-control" placeholder="Ingrese un número decimal" inputmode="decimal" required="" id="id_subtotal" readonly>
                         <!-- Mostrar errores específicos de este campo -->
                         {% if totales_form.subtotal.errors %}
                         <div class="text-danger">
                              {{ totales_form.subtotal.errors }}
                         </div>
                         {% endif %}
                    </div>

                    <div class="form-group">
                         {{ totales_form.tasa_iva.label_tag }}
                         <select name="tasa_iva" name="tasa_iva" id="tasa_iva" class="form-select">
                              <option value="0.08" {% if cotizacion_form.tasa_iva.value == '0.08' %}selected{% endif %}>8%
                              </option>
                              <option value="0.16" {% if cotizacion_form.tasa_iva.value == '0.16' %}selected{% endif %}>16%
                              </option>
                         </select>
                         {% if totales_form.tasa_iva.errors %}
                         <div class="text-danger">
                              {{ totales_form.tasa_iva.errors }}
                         </div>
                         {% endif %}
                    </div>

                    <div class="form-group">
                         <!-- Renderizar la etiqueta (label) del campo iva -->
                         {{ totales_form.iva.label_tag }}
                         <!-- Renderizar el campo iva con los atributos personalizados -->
                         <input type="number" name="iva" step="0.01" class="form-control" placeholder="Ingrese un número decimal" inputmode="decimal" required="" id="id_iva" readonly>
                         <!-- Mostrar errores específicos de este campo -->
                         {% if totales_form.iva.errors %}
                         <div class="text-danger">
                              {{ totales_form.iva.errors }}
                         </div>
                         {% endif %}
                    </div>

                    <div class="form-group">
                         <!-- Renderizar la etiqueta (label) del campo total -->
                         {{ totales_form.total.label_tag }}
                         <!-- Renderizar el campo total -->
                         
                         <input type="number" name="total" step="0.01" class="form-control" placeholder="Ingrese un número decimal" inputmode="decimal" required="" id="id_total" readonly>
                         <!-- Mostrar errores específicos de este campo -->
                         {% if totales_form.total.errors %}
                         <div class="text-danger">
                              {{ totales_form.total.errors }}
                         </div>
                         {% endif %}
                    </div>

               </div>
          </div>

          <div class="d-flex justify-content-end gap-3">
               <button type="submit" class="btn btn-primary  p-2">Pre facturar</button>
               <button type="submit" class="btn btn-success  p-2">Facturar</button>
               <button type="submit" class="btn btn-danger  p-2">Cancelar</button>
          </div>
     </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        const tasaIvaSelect = document.getElementById('tasa_iva');
        const subtotalInput = document.getElementById('id_subtotal');
        const ivaInput = document.getElementById('{{ totales_form.iva.id_for_label }}');  // Campo de IVA
        const totalInput = document.getElementById('{{ totales_form.total.id_for_label }}');  // Campo de Total
  
        // Función para calcular el IVA y el Total
        function calcularTotales() {
            const subtotal = parseFloat(subtotalInput.value) || 0;  // Valor del subtotal
            const tasaIva = parseFloat(tasaIvaSelect.value) || 0;   // Tasa de IVA seleccionada
  
            const iva = subtotal * tasaIva; // Cálculo del IVA
            const total = subtotal + iva;   // Total (subtotal + IVA)
  
            ivaInput.value = iva.toFixed(2);  // Mostrar el IVA calculado
            totalInput.value = total.toFixed(2);  // Mostrar el Total calculado
        }
  
        // Escuchar cambios en la tasa de IVA
        tasaIvaSelect.addEventListener('change', calcularTotales);

        // Función para calcular el subtotal totalizando los campos .concepto-importe
        function calcularSubtotal() {
            let total = 0;
            document.querySelectorAll('.concepto-importe').forEach(function(input) {
                let valor = parseFloat(input.value) || 0;  // Asegurarse que el valor sea un número
                total += valor;
            });
            subtotalInput.value = total.toFixed(2);  // Mostrar con 2 decimales
            calcularTotales();  // Recalcular IVA y Total cuando cambie el subtotal
        }

        // Añadir evento 'input' a todos los campos de importe
        document.querySelectorAll('.concepto-importe').forEach(function(input) {
            input.addEventListener('input', calcularSubtotal);
        });
      
        // Calcular el total inicial cuando se cargue la página
        calcularSubtotal();
    });
</script>


{% endblock content %}