{% extends 'accounts/base_dashboard.html' %}
{% load static %}
{% block title %}Detalles de la Cotización{% endblock %}
{% block header %}Detalles de la Cotización{% endblock %}
{% block content %}

<!-- CONTENEDOR DETALLES DE COTIZACION -->
<div class="container mt-4">

    <h1 class="text-center"> Detalles de la Cotización {{ cotizacion.id_personalizado }}{% if cotizacion.estado %}
        Proyecto {% endif %}</h1>
    <hr />


    <!-- BOTONES PESTAÑAS -->
    <ul class="nav nav-tabs">
        <!-- BOTON DETALLES -->
        <li class="nav-item">
            <a class="nav-link active" href="#detalles" data-bs-toggle="tab">Detalles</a>
        </li>
        <!-- BOTON DOCUMENTOS -->
        <li class="nav-item">
            <a class="nav-link" href="#documentos" data-bs-toggle="tab">Documentos</a>
        </li>
    </ul>

    <!-- ESPACIOS -->
    <div class="tab-content">

        <!-- DETALLES -->
        <div class="tab-pane fade show active" id="detalles">
            <!-- BOTONES DE ACCIÓN -->
            <div class="dropdown text-end dropleft">
                <!-- Botón para activar el dropdown -->
                <button class="btn btn-success dropdown-toggle mt-3" type="button" id="dropdownMenuButton"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Acciones para cotizacion
                </button>
                <!-- Elementos del dropdown -->
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                    <li><a class="dropdown-item text-secondary pe-none" href="" aria-disabled="true">Duplicar</a></li>
                    <li><a class="dropdown-item text-secondary pe-none" href="#">Editar</a></li>
                    <li><a class="dropdown-item" href="{% url 'cotizacion_delete' cotizacion.id %}">Borrar</a></li>
                    <li><a class="dropdown-item" href="{% url 'seleccionar_correos' cotizacion.id %}">Enviar cotización</a></li>
                    <li><a class="dropdown-item" href="{% url 'actualizar_estado' cotizacion.id %}">Actualizar estado</a></li>
                    <li><a class="dropdown-item" href="{% url 'cotizacion_pdf' cotizacion.id %}" target="_blank">Ver PDF</a>
                    </li>
                </ul>
            </div>
            <br>
            <div class="row col-md-10 mx-auto">
                <div class="col border-info p-4 mb-3 rounded shadow-sm">
                    <h4 class="text-info mb-4">Información de la Cotización</h4>
                    <p class="mb-2"><strong>Atención a:</strong> {{ cotizacion.persona.nombre }}
                        {{ cotizacion.persona.apellidos }}
                    </p>
                    <p class="mb-2"><strong>Empresa:</strong> {{ cotizacion.persona.empresa.nombre_empresa }}</p>
                    <p class="mb-2"><strong>Dirección:</strong> {{ cotizacion.persona.empresa.direccion }}</p>
                    <p class="mb-2"><strong>Fecha solicitada:</strong> {{ cotizacion.fecha_solicitud | date:"d M Y" }}
                    </p>
                    <p class="mb-2"><strong>Fecha de caducidad:</strong> {{ cotizacion.fecha_caducidad | date:"d M Y" }}
                    </p>
                    <p class="mb-2"><strong>Denominación:</strong> {{ cotizacion.metodo_pago }}</p>
                    <p class="mb-2"><strong>Tasa IVA:</strong> {{ tasa_iva }}%</p>
                    <p class="mb-2"><strong>Notas:</strong> {{ cotizacion.notas }}</p>
                    <p><strong>Correos adicionales:</strong> {{ cotizacion.correos_adicionales }}</p>
                </div>
                {% if cotizacion.estado %}
                {% if ordenes_trabajo %}
                <div class="col col-md-3 border-info p-4 mb-3 rounded shadow-sm">
                    <h4 class="text-info mb-4">Ordenes de trabajo</h4>
                    {% for orden in ordenes_trabajo %}
                    <li><a href="{% url 'detalle_orden_trabajo' orden.id_personalizado %}"
                            class="link-success">{{ orden.id_personalizado }}
                            {{ orden.estado|yesno:"Terminado,No Terminado" }}</a></li>
                    {% endfor %}
                    <br>
                    <a href="{% url 'generar_orden_trabajo' cotizacion.id %}" class="btn btn-success btn-sm mt-2">Crea
                        nueva orden de trabajo</a>
                </div>
                {% else %}
                <div class="col col-md-3 border-info p-4 mb-3 rounded shadow-sm">
                    <a href="{% url 'generar_orden_trabajo' cotizacion.id %}" class="btn btn-success btn-sm mt-2">Crea
                        nueva orden de trabajo</a>
                </div>

                {% endif %}
                {% endif %}
            </div>

            <!-- DETALLES DE CONCEPTOS -->
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>Servicio</th>
                            <th>Notas</th>
                            <th>Cantidad</th>
                            <th>Precio Unitario</th>
                            <th>Subtotal</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for concepto in conceptos %}
                        <tr>
                            <td>{{ concepto.servicio }}</td>
                            <td>{{ concepto.notas }}</td>
                            <td>{{ concepto.cantidad_servicios }}</td>
                            <td>{{ concepto.precio }}</td>
                            <td>{{ concepto.subtotal }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- RESUMEN -->
            <div class="d-flex justify-content-end mt-4">
                <div class="p-2">
                    <h4>Resumen</h4>
                    <p><strong>Subtotal:</strong> ${{ cotizacion.subtotal }}</p>
                    <p><strong>IVA ({{ cotizacion.tasa_iva }}%):</strong> ${{ cotizacion.iva }}</p>
                    <p><strong>Total:</strong> ${{ cotizacion.total }}</p>
                </div>
            </div>
        </div>
        
        <!-- DETALLES -->
        <div class="tab-pane fade mt-5" id="documentos">
            <h4 class="text-info mb-4">Documentos Relacionados</h4>
            <div class="row">
                <!-- Tarjeta para el PDF de Cotización -->
                <div class="col-md-6 mb-3">
                    <div class="card">
                        <div class="card-header">
                            PDF de Cotización
                        </div>
                        <div class="card-body">
                            {% if cotizacion.cotizacion_pdf %}
                                <a href="{{ cotizacion.cotizacion_pdf.url }}" class="btn btn-primary" target="_blank">Ver PDF de Cotización</a>
                            {% else %}
                                <p class="text-muted">No hay PDF de cotización disponible.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                
                <!-- Tarjeta para la Orden de Pedido -->
                <div class="col-md-6 mb-3">
                    <div class="card">
                        <div class="card-header">
                            Orden de Pedido
                        </div>
                        <div class="card-body">
                            {% if cotizacion.orden_pedido_pdf %}
                                <a href="{{ cotizacion.orden_pedido_pdf.url }}" class="btn btn-primary" target="_blank">Ver Orden de Pedido</a>
                            {% else %}
                                <p class="text-muted">No hay orden de pedido disponible.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}