{% extends 'accounts/base_dashboard.html' %}
{% load static %}
{% block title %}Detalles de la Cotización{% endblock %}
{% block header %}Detalles de la Cotización{% endblock %}
{% block content %}

<!-- CONTENEDOR DETALLES DE COTIZACION -->
<div class="container mt-4">

    <h1 class="text-center"> Detalles de la Cotización {{ cotizacion.id_personalizado }}{% if cotizacion.estado %}
        Proyecto {% endif %}</h1>
    <hr />

    <!-- BOTONES DE ACCIÓN -->
    <div class="dropdown text-end dropleft">
        <!-- Botón para activar el dropdown -->
        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
            aria-expanded="false">
            Acciones para cotizacion
        </button>
        <!-- Elementos del dropdown -->
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            <li><a class="dropdown-item text-secondary pe-none" href="{% url 'cotizacion_duplicar' cotizacion.id%}" aria-disabled="true">Duplicar</a></li>
            <li><a class="dropdown-item text-secondary" href="{% url 'edit_cotizacion' cotizacion.persona.id cotizacion.id_personalizado %}">Editar</a></li>
            <li><a class="dropdown-item" href="{% url 'cotizacion_delete' cotizacion.id %}">Borrar</a></li>
            <li><a class="dropdown-item" href="{% url 'seleccionar_correos' cotizacion.id %}">Enviar cotización</a></li>
            <li><a class="dropdown-item" href="{% url 'actualizar_estado' cotizacion.id %}">Actualizar estado</a></li>
            <li><a class="dropdown-item" href="{% url 'cotizacion_pdf' cotizacion.id %}" target="_blank">Ver PDF</a></li>
        </ul>
    </div>
    <br>
    <!-- DATOS DE COTIZACION -->
    <div class="row col-md-10 mx-auto">
        <div class="col border-info p-4 mb-3 rounded shadow-sm">
            <h4 class="text-info mb-4">Información de la Cotización</h4>
            <p class="mb-2"><strong>Atención a:</strong> {{ cotizacion.persona.nombre }}
                {{ cotizacion.persona.apellidos }}</p>
            <p class="mb-2"><strong>Empresa:</strong> {{ cotizacion.persona.empresa.nombre_empresa }}</p>
            <p class="mb-2"><strong>Dirección:</strong> {{ cotizacion.persona.empresa.direccion }}</p>
            <p class="mb-2"><strong>Fecha solicitada:</strong> {{ cotizacion.fecha_solicitud | date:"d M Y" }}</p>
            <p class="mb-2"><strong>Fecha de caducidad:</strong> {{ cotizacion.fecha_caducidad | date:"d M Y" }}</p>
            <p class="mb-2"><strong>Denominación:</strong> {{ cotizacion.metodo_pago }}</p>
            <p class="mb-2"><strong>Tasa IVA:</strong> {{ tasa_iva }}%</p>
            <p class="mb-2"><strong>Notas:</strong> {{ cotizacion.notas }}</p>
            <p><strong>Correos adicionales:</strong> {{ cotizacion.correos_adicionales }}</p>
        </div>
        {% if ordenes_trabajo %}
        <div class="col col-md-3 border-info p-4 mb-3 rounded shadow-sm">
            <h4 class="text-info mb-4">Ordenes de trabajo</h4>
            {% for orden in ordenes_trabajo %}
            <li><a href="{% url 'detalle_orden_trabajo' orden.id_personalizado %}" class="link-success">{{ orden.id_personalizado }} {{ orden.estado|yesno:"Terminado,No Terminado" }}</a></li>
            {% endfor %}
            <br>
            <a href="{% url 'generar_orden_trabajo' cotizacion.id_personalizado %}" class="btn btn-success btn-sm mt-2">Crea nueva orden de trabajo</a>
        </div>
        {% else %}
        <div class="col col-md-3 border-info p-4 mb-3 rounded shadow-sm">
            <a href="{% url 'generar_orden_trabajo' cotizacion.id_personalizado %}" class="btn btn-success btn-sm mt-2">Crea nueva orden de trabajo</a>
        </div>
        
        {% endif %}
    </div>

    <!-- DETALLES DE CONCEPTOS -->
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Servicio</th>
                    <th>Notas</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Subtotal</th>

                </tr>
            </thead>
            <tbody>
                {% for concepto in conceptos %}
                <tr>
                    <td>{{ concepto.servicio }}</td>
                    <td>{{ concepto.notas }}</td>
                    <td>{{ concepto.cantidad_servicios }}</td>
                    <td>{{ concepto.precio }}</td>
                    <td>{{ concepto.subtotal }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- RESUMEN -->
    <div class="d-flex justify-content-end mt-4">
        <div class="p-2">
            <h4>Resumen</h4>
            <p><strong>Subtotal:</strong> ${{ cotizacion.subtotal }}</p>
            <p><strong>IVA ({{ cotizacion.tasa_iva }}%):</strong> ${{ cotizacion.iva }}</p>
            <p><strong>Total:</strong> ${{ cotizacion.total }}</p>
        </div>
    </div>
</div>
{% endblock %}