{% extends 'accounts/base_dashboard.html' %}
{% load static %}
{% block title %}Cotizaciones{% endblock %}
{% block header %}Cotizaciones{% endblock %}
{% block content %}
<h5>Crear Nuevo Prospecto</h5>
<form method="post" action="{% url 'cotizaciones_prospecto_create' %}">
     {% csrf_token %}
     {{ persona_form.as_p }}

     <p>
          Crear empresa:
          <input type="checkbox" id="crear_empresa_checkbox" name="crear_empresa_checkbox" placeholder="Crear empresa">
     </p>

     <div class="mb-3" id="select_empresa_div">
          <label for="empresaSelect" class="form-label">Empresa:</label>
          <select class="form-select" id="empresaSelect" name="empresa">
               <option value="">Selecciona una empresa o crea una nueva</option>
               {% for empresa in empresas %}
               <option value="{{ empresa.id }}">{{ empresa.nombre_empresa }}</option>
               {% endfor %}
          </select>
     </div>

     <div class="mb-3" id="form_empresa_div" style="display: none;">
          {{ empresa_form.as_p }}
     </div>
     <div class="form-group text-right">
          <input type="submit" class="btn btn-success" value="Crear prospecto">
          <input type="button" class="btn btn-danger" value="Cancelar"
               onclick="location.href='{% url 'cotizacion_form' %}'">
     </div>
</form>

<script>
     document.addEventListener("DOMContentLoaded", function () {
          const checkbox = document.getElementById('crear_empresa_checkbox');
          const selectEmpresaDiv = document.getElementById('select_empresa_div');
          const formEmpresaDiv = document.getElementById('form_empresa_div');
          const empresaFormFields = formEmpresaDiv.querySelectorAll('input, select, textarea');

          checkbox.addEventListener('change', function () {
               if (checkbox.checked) {
                    selectEmpresaDiv.style.display = 'none';
                    formEmpresaDiv.style.display = 'block';
                    empresaFormFields.forEach(field => {
                         field.removeAttribute('disabled');
                    });
               } else {
                    selectEmpresaDiv.style.display = 'block';
                    formEmpresaDiv.style.display = 'none';
                    empresaFormFields.forEach(field => {
                         field.setAttribute('disabled', 'disabled');
                    });
               }
          });

          // Inicialmente deshabilitar los campos del formulario de empresa
          empresaFormFields.forEach(field => {
               field.setAttribute('disabled', 'disabled');
          });
     });
</script>
{% endblock %}