{% extends 'accounts/base_dashboard.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Registrar Cotización{% endblock %}
{% block header %}Registrar Cotización{% endblock %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
<style>
    .border-custom {
        border: 1px solid lightgrey;
    }

    .border-custom-left {
        border-left: 5px solid dodgerblue;
    }
</style>

<script type="text/javascript">
    var servicios = {{ servicios_json | safe }};
</script>

<div class="container-xxl">
    <h1 class="text-center">Registro de cotización</h1>
    <hr />

    <form action="" method="post" id="cotizacionForm">
        {% csrf_token %}

        <div class="form-group mt-4">

            <div class="alert alert-primary ">
                <strong>Por favor, complete todos los campos requeridos con la información correcta.</strong><br>
                Asegúrese de ingresar las fechas en el formato <strong>dd/mm/aaaa</strong>, y proporcionar una dirección de correo electrónico válida. Si tiene alguna pregunta, no dude en contactarnos.
            </div>

            <div class="container-xxl mt-3">
                <div class="row justify-content-center">
                    <div class="card-header bg-primary bg-gradient text-white text-center">
                        <h5>Cliente <strong>{{ cliente.empresa.nombre_empresa }}</strong></h5>
                    </div>
                    <div class="card-body bg-light mb-4">
                        <p class="card-text ml-5">
                            <strong>RFC:</strong> <span class="text-monospace">{{ cliente.empresa.rfc }}</span>
                        </p>
                        <p class="card-text ml-5">
                            <strong>Representante:</strong> {{ cliente }}
                        </p>
                        <p class="card-text ml-5">
                            <strong>Información de contacto:</strong> {{ cliente.informacion_contacto }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mt-2">
                    <label for="{{ cotizacion_form.fecha_solicitud.id_for_label }}">Fecha Solicitada</label>
                    {{ cotizacion_form.fecha_solicitud }}
                </div>
                <div class="col-md-6 mt-2">
                    <label for="{{ cotizacion_form.fecha_caducidad.id_for_label }}">Fecha Caducidad</label>
                    {{ cotizacion_form.fecha_caducidad }}
                </div>
            </div>

            <div class="mt-2 text-end">
                <span class="text-primary">Por favor, ingresa las fechas en el formato correcto (por ejemplo: 2024-07-28).</span>
            </div>

            <div class="row">
                <div class="col-md-6 mt-2">
                    <label for="metodo_pago">Denominación</label>
                    <select name="metodo_pago" id="metodo_pago" class="form-select">
                        <option value="MXN" {% if cotizacion_form.metodo_pago.value == 'MXN' %}selected{% endif %}>MXN</option>
                        <option value="USD" {% if cotizacion_form.metodo_pago.value == 'USD' %}selected{% endif %}>USD</option>
                    </select>

                    <!-- Alerta de tipo de cambio -->
                    <div id="alert-tipo-cambio" class="alert alert-warning alert-dismissible fade show mt-1" role="alert" style="display: none;">
                        <strong>Tipo de cambio:</strong> {{ tipo_de_cambio }}  Sí Requieres cambiarlo ve a: <a href="{% url 'config_org' %}#sistema" target="_blank">Configuración</a>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>  
                </div>
                <div class="col-md-6 mt-2">
                    <label for="tasa_iva">Tasa del IVA actual</label>
                    <select name="tasa_iva" id="tasa_iva" class="form-select">
                        <option value="0.08" {% if cotizacion_form.tasa_iva.value == '0.08' %}selected{% endif %}>8%</option>
                        <option value="0.16" {% if cotizacion_form.tasa_iva.value == '0.16' %}selected{% endif %}>16%</option>
                    </select>
                </div>  
                         
            </div>

            <div class="row mt-2">
                <div class="col-12">
                    <label for="{{ cotizacion_form.notas.id_for_label }}">Notas</label>
                    {{ cotizacion_form.notas }}
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12">
                    <label for="{{ cotizacion_form.correos_adicionales.id_for_label }}">Correos Adicionales</label>
                    {{ cotizacion_form.correos_adicionales }}
                </div>
            </div>

            <br>

            <h4>Agregar Conceptos</h4>
            <div class="mt-2 text-end">
                <span class="text-primary">Por favor, ingresa los conceptos necesarios ingresando la información solicitada. <br> Si has creado un concepto que no deseas, marca la casilla de eliminar para no tomar en cuenta ese concepto.</span>
            </div>

            {{ concepto_formset.management_form }}

            <div id="concepto_formset">
                {% for form in concepto_formset %}
                <div class="concepto-form border-custom border-custom-left p-3 bg-light mt-5">
                    <h5 class="mt-3">Concepto {{ forloop.counter }}</h5>
                    <label for="{{ form.servicio.id_for_label }}">Servicio:</label>
                    <div class="row">
                        <div class="col auto">
                            <div class="auto">
                                {{form.servicio}}
                            </div>
                        </div>
                        <div class="col col-1">
                            <div>
                                <a href="#" class="btn btn-success" onclick="abrirVentanaServicio()" class="text-end">
                                    <img src="{% static 'img/plus-lg.svg' %}" alt="" width="20" height="20" class="text-end" style="filter: invert(1);" >
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="">
                        <p id="servicio-datos-{{ forloop.counter0 }}" class="alert-primary mt-2">
                        </p>
                    </div>
                    <div class="mt-2">
                        <label for="{{ form.cantidad.id_for_label }}">Cantidad de servicios:</label>
                        {{form.cantidad_servicios}}
                    </div>
                    <div class="mt-2">
                        <label for="{{ form.precio.id_for_label }}">Precio de servicio:</label>
                        {{form.precio}}
                    </div>
                    <div class="mt-2">
                        <label for="{{ form.notas.id_for_label }}">Notas del servicio:</label>
                        {{form.notas}}
                    </div>
                    <div class="mt-2">
                        <label for="{{form.DELETE.id_for_label}}"> Eliminar: </label>
                        {{form.DELETE}}
                    </div>
                </div>
                {% endfor %}
            </div>

            <button type="button" id="add-concepto-form" class="btn btn-primary mt-3">Añadir Concepto</button>

            <div id="totales-section" class="mt-4">
                <h4>Totales:</h4>
                <div id="subtotal">Subtotal: {{ cotizacion.subtotal }}</div>
                <div id="iva">IVA: {{ cotizacion.iva }}</div>
                <div id="total">Total: {{ cotizacion.total }}</div>
            </div>
        </div>

        <div class="form-group text-right mt-4">
            <a href="{% url 'cotizaciones_list' %}" class="btn btn-danger">Cancelar</a>
            <input type="submit" class="btn btn-success" value="Crear" />
            
        </div>
    </form>

    <div id="empty_form" style="display: none;">
        <div class="concepto-form border-custom border-custom-left p-3 bg-light mt-5">
            <h5>Concepto <span class="concepto-counter">__counter__</span></h5>
            <label for="{{ concepto_formset.empty_form.servicio.id_for_label }}">Servicio:</label>
            <div class="row">
                <div class="col auto">
                    <div class="auto">
                        {{concepto_formset.empty_form.servicio}}
                    </div>
                </div>
                <div class="col col-1">
                    <div>
                        <a href="#" class="btn btn-success" onclick="abrirVentanaServicio()" class="text-end">
                            <img src="{% static 'img/plus-lg.svg' %}" alt="" width="20" height="20" class="text-end" style="filter: invert(1);" >
                        </a>
                    </div>
                </div>
            </div>

            <div>
                <p id="servicio-datos-__prefix__" class="alert-primary mt-2"></p>
            </div>
            <div class="mt-2">
                <label for="{{ concepto_formset.empty_form.cantidad_servicios.id_for_label }}">Cantidad de servicios:</label>
                {{concepto_formset.empty_form.cantidad_servicios}}
            </div>
            <div class="mt-2">
                <label for="{{ concepto_formset.empty_form.precio.id_for_label }}">Precio de servicio:</label>
                {{concepto_formset.empty_form.precio}}
            </div>
            <div class="mt-2">
                <label for="{{ concepto_formset.empty_form.notas.id_for_label }}">Notas del servicio:</label>
                {{concepto_formset.empty_form.notas}}
            </div>

            <div class="mt-2">
                <label for="{{ concepto_formset.empty_form.DELETE.id_for_label }}">Eliminar:</label>
                {{concepto_formset.empty_form.DELETE}}
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<script>
    // Almacenar el tipo de cambio
    const TIPO_CAMBIO = 18; // Ejemplo de tipo de cambio: 1 USD = 18 MXN

    // Función para convertir precios de MXN a USD
    function convertirPrecio(precio, metodoPago) {
        return metodoPago === 'USD' ? (precio / TIPO_CAMBIO).toFixed(2) : precio.toFixed(2);
    }

    // Función para actualizar precios según el método de pago
    function actualizarPrecios() {
        const metodoPago = $('#metodo_pago').val();
        $('#concepto_formset .concepto-form').each(function() {
            const precioElement = $(this).find("input[name$='-precio']");
            const cantidadElement = $(this).find("input[name$='-cantidad_servicios']");
            const precioOriginal = parseFloat(precioElement.data('precio-original')) || 0;

            // Actualiza el precio en función del método de pago
            if (metodoPago === 'USD') {
                const precioConvertido = convertirPrecio(precioOriginal, metodoPago);
                precioElement.val(precioConvertido);
            } else {
                // Si el método de pago es MXN, restablecer el precio original
                precioElement.val(precioOriginal.toFixed(2));
            }
        });
    }

    // Función para calcular los totales
    function actualizarTotales() {
        let subtotal = 0;
        const forms = document.querySelectorAll(".concepto-form");
        const tasaIvaElement = document.querySelector("select[name='tasa_iva']");
        const tasaIva = parseFloat(tasaIvaElement.value) || 0;
        const metodoPagoElement = document.querySelector("select[name='metodo_pago']");
        const metodoPago = metodoPagoElement.value;

        forms.forEach(form => {
            const precioElement = form.querySelector("input[name$='-precio']");
            const cantidadElement = form.querySelector("input[name$='-cantidad_servicios']");
            if (precioElement && cantidadElement) {
                const precio = parseFloat(precioElement.value) || 0;
                const cantidad = parseInt(cantidadElement.value) || 0;

                subtotal += precio * cantidad;
            }
        });

        const iva = subtotal * tasaIva;
        const total = subtotal + iva;

        // Actualiza el DOM con los totales
        document.getElementById("subtotal").textContent = `Subtotal: ${subtotal.toFixed(2)} ${metodoPago === 'USD' ? 'USD' : 'MXN'}`;
        document.getElementById("iva").textContent = `IVA: ${iva.toFixed(2)} ${metodoPago === 'USD' ? 'USD' : 'MXN'}`;
        document.getElementById("total").textContent = `Total: ${total.toFixed(2)} ${metodoPago === 'USD' ? 'USD' : 'MXN'}`;
    }

    // Función para manejar el cambio de servicio
    function obtenerDatosServicio(servicioId, outputElement, precioElement) {
        if (servicioId) {
            fetch(`/obtener_datos_servicio/${servicioId}/`)
                .then(response => response.json())
                .then(data => {
                    outputElement.html(`
                        <div class="row pt-2 pb-2 pl-5">
                            <div class="col">
                                <strong>Servicio:</strong> ${data.nombre}<br>
                                <strong>Método: </strong><code>${data.metodo}</code><br>
                                <strong>Descripción:</strong> ${data.descripcion}<br>
                                <strong>Precio sugerido:</strong> $${data.precio}<br>
                            </div>
                            <div class="col col-1">
                                <div><a href="#" class="btn" class="text-end"><img src="/static/admin/img/icon-changelink.svg" alt="" width="20" height="20"></a></div>
                            </div>
                        </div>`);
                    // Establece el precio en el campo de precio y guarda el precio original
                    precioElement.val(data.precio);
                    precioElement.data('precio-original', data.precio); // Guardar el precio original para futuras conversiones
                    convertirPrecioSiUSD(precioElement);
                }).catch(error => {
                    console.error('Error:', error);
                    outputElement.html('Error al obtener los datos del servicio.');
                });
        } else {
            outputElement.html('');
            precioElement.val('');
        }
    }

    // Función para convertir precio si el método de pago es USD
    function convertirPrecioSiUSD(precioElement) {
        const metodoPago = $('#metodo_pago').val();
        const precioOriginal = parseFloat(precioElement.data('precio-original')) || 0;

        if (metodoPago === 'USD') {
            const precioConvertido = convertirPrecio(precioOriginal, metodoPago);
            precioElement.val(precioConvertido);
        } else {
            precioElement.val(precioOriginal.toFixed(2)); // Muestra el precio original en MXN
        }
    }

    $(document).ready(function() {
        // Inicializar Select2 y eventos para formularios
        function initializeSelect2AndEvents() {
            $('#concepto_formset .concepto-form').each(function(index, form) {
                const servicioSelect = $(form).find('select[name$="servicio"]');
                const servicioDatosId = 'servicio-datos-' + index;
                const servicioDatos = $(form).find('.servicio-datos');
                servicioDatos.attr('id', servicioDatosId);

                // Inicializa Select2
                if (!servicioSelect.hasClass('select2-hidden-accessible')) {
                    servicioSelect.select2({
                        placeholder: "Selecciona un servicio",
                        allowClear: true,
                        class: 'form-control',
                    });
                }

                // Manejar el cambio de servicio
                servicioSelect.off('change').on('change', function() {
                    const precioElement = $(form).find('input[name$="-precio"]');
                    obtenerDatosServicio($(this).val(), $('#' + servicioDatosId), precioElement);
                    actualizarPrecios();
                    actualizarTotales();
                });
            });
        }

        // Agregar un nuevo concepto
        $('#add-concepto-form').click(function() {
            const formIdx = $('#id_conceptos-TOTAL_FORMS').val();
            let formTemplate = $('#empty_form').html().replace(/__prefix__/g, formIdx);
            formTemplate = formTemplate.replace(/__counter__/g, parseInt(formIdx) + 1);

            $('#concepto_formset').append(formTemplate);
            initializeSelect2AndEvents();
            $('#id_conceptos-TOTAL_FORMS').val(parseInt(formIdx) + 1);
        });

        // Manejo de eventos de actualización de totales
        $('#concepto_formset').on("input", function(event) {
            if (event.target.name.includes("precio") || event.target.name.includes("cantidad_servicios") || event.target.name === "tasa_iva") {
                actualizarTotales();
            }
        });

        // Actualizar totales al cambiar el método de pago
        $('select[name="metodo_pago"]').change(function() {
            actualizarPrecios();
            actualizarTotales();
        });

        // Configurar la gestión de fechas
        const fechaSolicitudInput = document.getElementById("id_fecha_solicitud");
        const fechaCaducidadInput = document.getElementById("id_fecha_caducidad");

        fechaSolicitudInput.addEventListener("change", function() {
            const fechaSolicitud = new Date(fechaSolicitudInput.value);
            if (!isNaN(fechaSolicitud.getTime())) {
                const fechaCaducidad = new Date(fechaSolicitud);
                fechaCaducidad.setDate(fechaSolicitud.getDate() + 32);
                const year = fechaCaducidad.getFullYear();
                const month = String(fechaCaducidad.getMonth() + 1).padStart(2, '0');
                const day = String(fechaCaducidad.getDate()).padStart(2, '0');
                fechaCaducidadInput.value = `${year}-${month}-${day}`;
            }
        });

        // Inicializar eventos al cargar el documento
        initializeSelect2AndEvents();
        actualizarTotales();
    });

    document.addEventListener('DOMContentLoaded', function() {
        // Obtener elementos
        const metodoPagoSelect = document.getElementById('metodo_pago');
        const alertTipoCambio = document.getElementById('alert-tipo-cambio');

        // Función para mostrar/ocultar la alerta
        function toggleAlerta() {
            if (metodoPagoSelect.value === 'USD') {
                alertTipoCambio.style.display = 'block'; // Mostrar alerta si es USD
            } else {
                alertTipoCambio.style.display = 'none';  // Ocultar alerta si no es USD
            }
        }

        // Escuchar el cambio en el select
        metodoPagoSelect.addEventListener('change', toggleAlerta);

        // Llamar a la función al cargar la página para mostrar/ocultar según el valor inicial
        toggleAlerta();
    });
</script>



<script>
    function abrirVentanaServicio() {
        const url = "{% url 'agregar_servicio' %}";
        const options = "width=600,height=400,left=100,top=100,resizable=yes,scrollbars=yes,status=no,menubar=no";
        window.open(url, 'Agregar Servicio', options);
    }

    function actualizarSelectServicio(nuevoServicio) {
        const selects = document.querySelectorAll('select[name$="servicio"]');
        selects.forEach(select => {
            const option = new Option(nuevoServicio.nombre, nuevoServicio.id);
            select.add(option);
            select.value = nuevoServicio.id;
        });
    }
</script>
{% endblock %}
