{% extends 'accounts/base_dashboard.html' %}
{% block title %}Editar Cotización{% endblock %}
{% block header %}Editar Cotización{% endblock %}
{% block content %}
<style>
    .border-custom {
        border: 1px solid lightgrey;
        /* Borde gris por defecto */
    }

    .border-custom-left {
        border-left: 5px solid #17a2b8;
        /* Borde izquierdo color bg-info */
    }
</style>

<h1 class="text-center">Editar Cotización</h1>
<form method="post" action="">
    {% csrf_token %}
    {{ cotizacion_form.as_p }}

    <!-- Contenedor donde se agregarán los formularios de concepto -->
    <div id="conceptos-container">
        {% for form in concepto_formset %}
        <div class="border-custom border-custom-left p-3 bg-light mt-5 concepto-form">
            {{ form.as_p }}
            <button type="button" class="btn btn-danger remove-concepto mt-2">Eliminar Concepto</button>
        </div>
        {% empty %}
        <!-- Si no hay formularios de concepto, mostrar un mensaje o dejar vacío -->
        {% endfor %}
    </div>

    <!-- Botón para agregar concepto -->
    <button type="button" id="add-concepto" class="btn btn-primary mt-3">Agregar Concepto</button>

    <!-- Seccion de botones del formulario cotizaciones -->
    <div class="form-group text-right mt-4">
        <input type="submit" class="btn btn-success" value="Guardar Cotización" />
        <a href="{% url 'cotizaciones_list' %}" class="btn btn-secondary">Cancelar</a>
    </div>
</form>

<!-- Template para un formulario de concepto -->
<script id="concepto-template" type="text/template">
    <div class="border-custom border-custom-left p-3 bg-light mt-5 concepto-form">
        {{ form.as_p }}
        <button type="button" class="btn btn-danger remove-concepto mt-2">Eliminar Concepto</button>
    </div>
</script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function() {
        var conceptoIndex = {{ concepto_formset.total_form_count }};

        // Agregar el primer formulario de concepto al cargar la página
        $('#add-concepto').click(function() {
            var conceptoTemplate = $('#concepto-template').html();
            conceptoTemplate = conceptoTemplate.replace(/__prefix__/g, conceptoIndex);
            $('#conceptos-container').append(conceptoTemplate);
            conceptoIndex++;
        });

        // Eliminar formulario de concepto
        $(document).on('click', '.remove-concepto', function() {
            $(this).closest('.concepto-form').remove();
        });
    });
</script>

{% endblock %}
