{% extends 'accounts/base_dashboard.html' %}
{% load static %}
{% block title %}Eliminar Cotización{% endblock %}
{% block header %}Eliminar Cotización{% endblock %}
{% block content %}

<div class="container mt-4">
     <h1 class="text-center">¿Estás seguro de que deseas eliminar esta cotización?</h1>
     <hr />
     <div class="alert alert-danger alert-dismissible fade show " role="alert">
          <strong>¡Atención!</strong> Este es un mensaje de alerta importante.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">&times;</button>
     </div>
     <form method="post">
          {% csrf_token %}
          <div class="form-group mt-4">
               <p><strong>Cliente:</strong> {{ cotizacion.persona.nombre }} {{ cotizacion.persona.apellidos }}</p>
               <p><strong>Empresa:</strong> {{ cotizacion.persona.empresa.nombre_empresa }}</p>
               <p><strong>Fecha Solicitada:</strong> {{ cotizacion.fecha_solicitud }}</p>
               <p><strong>Fecha Caducidad:</strong> {{ cotizacion.fecha_caducidad }}</p>
               <div class="form-group text-right mt-4">
                    <input type="submit" class="btn btn-danger" value="Eliminar" />
                    <a href="{% url 'cotizaciones_list' %}" class="btn btn-secondary">Cancelar</a>
               </div>
          </div>
     </form>
</div>

{% endblock %}