<!-- Extiende la plantilla base del dashboard -->
{% extends 'accounts/base_dashboard.html' %}
<!-- Carga las etiquetas estáticas de Django -->
{% load static %}
<!-- Bloque para el título de la página -->
{% block title %}Eliminar Cotización{% endblock %}
<!-- Bloque para el encabezado de la página -->
{% block header %}Eliminar Cotización{% endblock %}
<!-- Bloque para el contenido principal de la página -->
{% block content %}

<div class="container mt-4">
     <!-- Título principal de la sección de eliminación de cotización -->
     <h1 class="text-center">¿Estás seguro de que deseas eliminar esta cotización?</h1>
     <!-- Línea divisoria -->
     <hr />
     <!-- Mensaje de alerta importante -->
     <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>¡Atención!</strong> Este es un mensaje de alerta importante.
          <!-- Botón para cerrar el mensaje de alerta -->
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">&times;</button>
     </div>
     <!-- Formulario para confirmar la eliminación de la cotización -->
     <form method="post">
          <!-- Token de protección CSRF -->
          {% csrf_token %}
          <div class="form-group mt-4">
               <!-- Información del cliente relacionado con la cotización -->
               <p><strong>Cliente:</strong> {{ cotizacion.persona.nombre }} {{ cotizacion.persona.apellidos }}</p>
               <!-- Información de la empresa relacionada con la cotización -->
               <p><strong>Empresa:</strong> {{ cotizacion.persona.empresa.nombre_empresa }}</p>
               <!-- Fecha en que se solicitó la cotización -->
               <p><strong>Fecha Solicitada:</strong> {{ cotizacion.fecha_solicitud }}</p>
               <!-- Fecha de caducidad de la cotización -->
               <p><strong>Fecha Caducidad:</strong> {{ cotizacion.fecha_caducidad }}</p>
               <!-- Botones para confirmar la eliminación o cancelar -->
               <div class="form-group text-right mt-4">
                    <!-- Botón para confirmar la eliminación de la cotización -->
                    <input type="submit" class="btn btn-danger" value="Eliminar" />
                    <!-- Enlace para cancelar la eliminación y volver a la lista de cotizaciones -->
                    <a href="{% url 'cotizaciones_list' %}" class="btn btn-secondary">Cancelar</a>
               </div>
          </div>
     </form>
</div>

{% endblock %}
