{% extends 'accounts/base_dashboard.html' %}
{% load static %}
{% block title %}Proyectos{% endblock %}
{% block header %}Proyectos{% endblock %}
{% block content %}

<div class="container">
    <!-- SECCION DE TITULO ENCABEZANDO SERVICIOS -->
    <div class="row">
        <div class="col">
            <h1 class="text-center">Proyectos</h1>
            <hr />
        </div>
    </div>

    <!-- BUSCADOR -->
    <div class="row mb-3 justify-content-center">
        <div class="col-md-6">
            <div class="input-group mb-3">
                <input type="text" id="searchInput" class="form-control" placeholder="Buscar proyectos..." onkeyup="filterTable('searchInput', 'cotizacionesTable')">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" onclick="filterTable('searchInput', 'cotizacionesTable')">Buscar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3 justify-content-end">
        <div class="col-auto">
            <a href="{% url 'cotizaciones_list' %}" class="btn btn-info mb-3">Ver Cotizaciones</a>
        </div>
    </div>

    <!-- TABLA -->
    <div class="row">
        <div class="col">
            <div class="table-responsive" style="max-height: 75vh; overflow-y: auto;">
                <table id="cotizacionesTable" class="table table-hover">
                    <!-- ENCABEZADO DE TABLA -->
                    <thead class="thead-light">
                        <tr>
                            <th><a href="?order_by=id_personalizado" class="link-secondary">Cotización</a></th>
                            <th><a href="?order_by=persona__empresa__nombre_empresa" class="link-secondary">Empresa</a></th>
                            <th colspan="3"><a href="?order_by=persona" class="link-secondary">Contacto</a> </th>
                            <th><a href="?order_by=fecha_solicitud" class="link-secondary">Solicitud</a></th>
                            <th class="link-secondary">Ordenes</th>
                            <th colspan="3" class="link-secondary"></th>
                        </tr>
                    </thead>
                    <!-- CUERPO DE TABLA -->
                    <tbody>
                        {% for item in cotizaciones_ordenes %}
                        <tr>
                            <td><a href="{% url 'cotizacion_detalle' item.cotizacion.id %}" class="link-success">{{ item.cotizacion.id_personalizado }}</a></td>
                            <td>{{ item.cotizacion.persona.empresa.nombre_empresa }}</td>
                            <td>{{ item.cotizacion.persona.titulo }} </td>
                            <td>{{ item.cotizacion.persona.nombre }} </td>
                            <td>{{ item.cotizacion.persona.apellidos }}</td>
                            <td>{{ item.cotizacion.fecha_solicitud|date:"d/m/Y" }}</td>
                            <td>
                                <ul>
                                    {% for orden in item.ordenes %}
                                        <li>
                                            <a href="{% url 'detalle_orden_trabajo' orden.id_personalizado %}" class="link-success">ID: {{ orden.id_personalizado }} Estado: {{ orden.estado|yesno:"Terminado,No Terminado" }}</a> <br>
                                        </li>
                                    {% empty %}
                                        <li>No hay órdenes de trabajo asociadas.</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            
                            <td><a href="{% url 'generar_orden_trabajo' item.cotizacion.id %}" class="btn btn-primary btn-sm auto">Crea Orden</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <p>Número de prospectos: {{cotizaciones.count}}</p>
                <div class="pagination">
                    {% if cotizaciones_page.has_previous %}
                        <a href="?page=1&order_by={{ request.GET.order_by }}" class="btn btn-light btn-sm">Primera</a>
                        <a href="?page={{ cotizaciones_page.previous_page_number }}&order_by={{ request.GET.order_by }}" class="btn btn-light btn-sm">Anterior</a>
                    {% endif %}
                    <div class="m-1">Página {{ cotizaciones_page.number }} de {{ cotizaciones_page.paginator.num_pages }}.</div> 
                    {% if cotizaciones_page.has_next %}
                        <a href="?page={{ cotizaciones_page.next_page_number }}&order_by={{ request.GET.order_by }}" class="btn btn-light btn-sm">Siguiente</a>
                        <a href="?page={{ cotizaciones_page.paginator.num_pages }}&order_by={{ request.GET.order_by }}" class="btn btn-light btn-sm">Última</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

