<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación Cotización | Lucresys</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>

    <header class="">
        <nav class="navbar bg-body-tertiary fixed-top">
            <div class="d-flex justify-content-between align-items-center">
                <div class="container">
                    <a class="navbar-brand" href="#">Lucresys</a>
                </div>
            </div>
        </nav>
    </header>

    <footer class="bg-primary text-white py-4">
        <div class="container">
            <hr class="border-light">
            <div class="row align-items-center">
                <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
                    <p class="mb-0">
                        <a href="https://www.inade.mx/" class="text-white">&copy; 2024 INADE Servicios Ambientales</a>
                        <br>
                        Ingeniería y Administración Estratégica, S.A. de C.V.
                    </p>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <a href="#" class="text-white mx-2">
                        <img src="{% static 'img/whatsapp.png' %}" alt="WhatsApp" style="width: 30px; height: 30px;">
                    </a>
                    <a href="https://www.facebook.com/p/Ingenier%C3%ADa-y-Administraci%C3%B3n-Estrat%C3%A9gica-SA-de-CV-100067820710003/" class="text-white mx-2">
                        <img src="{% static 'img/facebook.png' %}" alt="Facebook" style="width: 30px; height: 30px;">
                    </a>
                    <a href="#" class="text-white mx-2">
                        <img src="{% static 'img/gmail.png' %}" alt="Gmail" style="width: 30px; height: 30px;">
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
