<!-- accounts/correos/formulario_descarga_subida.html -->
<!DOCTYPE html>
<html lang="es">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
     {% load static %}
     <!-- Favicon -->
     <link rel="icon" type="image/x-icon" href="{% static 'img/droplet-half.svg' %}">
     <title>Orden de Compra | INADE</title>

</head>

<body>

     <header class="">
          <nav class="navbar bg-body-tertiary fixed-top">
               <div class="container-fluid d-flex justify-content-between align-items-center">
                    <div class="container">
                         <a class="navbar-brand" href="#">INADE Laboratorio Ambiental</a>
                    </div>
               </div>
          </nav>
     </header>
     <div class="container mt-5" style="margin-top: 200pt;">
          <h1 class="mb-4">Descargar Cotización y Subir Orden de Pedido</h1>
          <h5 class="mb-4">Por favor, descargue la cotización y suba su orden de pedido utilizando el formulario a
               continuación. Para descargar la cotización puede hacer clic en el siguiente link: <strong><a
                         class="link-primary" href="{% url 'cotizacion_pdf' cotizacion.id %}">Descargar
                         Cotización</a></strong>
          </h5>

          {% if messages %}
          <ul class="messages mb-4">
               {% for message in messages %}
               <li{% if message.tags %} class="{{ message.tags }} mb-2" {% endif %}>{{ message }}</li>
                    {% endfor %}
          </ul>
          {% endif %}


          <form method="post" enctype="multipart/form-data" id="form" >
               {% csrf_token %}
               {{ form.as_p }}
               <div class="text-end mt-3">
                    <button type="submit" class="btn btn-primary">Cargar Orden de Compra</button>
               </div>
          </form>
     </div>

</body>

</html>