<!-- accounts/correos/formulario_descarga_subida.html -->
<!DOCTYPE html>
<html lang="es">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Descargar Cotización y Subir Orden de Trabajo | INADE</title>
     {% load static %}
     <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
     <header class="navbar navbar-expand-lg navbar-light">
          <div class="container">
               <a class="navbar-brand" href="#">INADE Laboratorio Ambiental</a>
          </div>
     </header>
     <div class="container d-flex justify-content-center align-items-center ">
          <div class="card p-4 mt-5" style="max-width: 500px;">
               <h1 class="text-center mb-4">Descargar Cotización y Subir Orden de Pedido</h1>
               <p class="text-center mb-4">Por favor, descargue la cotización y suba su orden de pedido utilizando el formulario a continuación.</p>

               
               <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="text-center m-3">
                         <input type="file" name="archivo" id="archivo" onchange="actualizarNombreArchivo(this)">
                    </div>
                    <div class="text-center">
                         <button type="submit" class="btn btn-success">Subir Orden de Pedido</button>
                    </div>
               </form>
               <div class="text-center">
                    <h2><strong><a class="link-primary" href="{% url 'cotizacion_pdf' cotizacion.id %}">Descargar Cotización</a></strong></h2>
               </div>
          </div>
     </div>

     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     <script>
          function actualizarNombreArchivo(input) {
               var nombreArchivo = input.files[0].name;
               document.getElementById('nombre-archivo').textContent = nombreArchivo;
          }
     </script>
</body>

</html>
