{% extends 'accounts/base_dashboard.html' %}
{% load static %}
{% block title %}Seleccionar Correos{% endblock %}
{% block header %}Seleccionar Correos{% endblock %}
{% block content %}

<div class="container mt-4">
     <div class="alert alert-warning alert-dismissible fade show " role="alert">
          <strong>¡Atención!</strong> Estás a punto de mandar correos, elige a los destinatarios.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">&times;</button>
     </div>
     <h1 class="text-center">Seleccionar Correos para Enviar Cotización {{ cotizacion.id_personalizado }}</h1>
     <hr />
     <form method="post">
          {% csrf_token %}
          <div class="form-group">
               <h3>Selecciona los correos a los que deseas enviar la cotización:</h3>
               {% if cliente_correo %}
               <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="cliente" id="cliente" value="cliente">
                    <label class="form-check-label" for="cliente">
                         <strong>Cliente:</strong> {{ cliente_correo }}
                    </label>
               </div>
               {% endif %}
               {% if usuario_correo %}
               <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="usuario" id="usuario" value="usuario">
                    <label class="form-check-label" for="usuario">
                         <strong>Tu correo:</strong> {{ usuario_correo }}
                    </label>
               </div>
               {% endif %}
               {% for correo in correos_adicionales %}
               <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="{{ correo }}" id="{{ correo }}"
                         value="{{ correo }}">
                    <label class="form-check-label" for="{{ correo }}">
                         <strong>Adicional:</strong> {{ correo }}
                    </label>
               </div>
               {% endfor %}
          </div>
          <div class="form-group mt-4">
               <label for="cuerpo_mensaje">Mensaje Personalizado:</label>
               
               <textarea class="form-control" id="cuerpo_mensaje" name="cuerpo_mensaje" rows="6">{{ cuerpo_mensaje_personalizado }}</textarea>
          </div>
          <p>Si no se agrega mensaje se colocara un mensaje predeterminado como este: </p>
              
          <div class="border p-3">
               <code> 
                    <p>Estimado/a cliente,</p>
                    <p>Adjunto a este correo encontrará la cotización solicitada con el ID 002.</p>
                    <p>Para descargar la cotización y subir su orden de trabajo, haga clic en el siguiente enlace: http://pagina_de_enlace
                    Si tiene alguna pregunta o necesita más información, no dude en ponerse en contacto con nosotros a través de este correo.
                    Agradecemos su atención y esperamos poder colaborar con usted.</p>
                    <p>Atentamente,</p>
                    <p>El equipo de INADE Servicios Ambientales</p>
                    
                    ---
                    Este es un correo generado automáticamente, por favor no responda a este mensaje. </code>
          </div>
          
          <button type="submit" class="btn btn-primary mt-3">Enviar Cotización</button>
     </form>
</div>

{% endblock %}
