<!-- Plantilla para la vista de edición de usuario en Django -->

<!-- Extiende la plantilla base del dashboard -->
{% extends 'accounts/base_dashboard.html' %}
<!-- Carga las etiquetas estáticas de Django -->
{% load static %}
<!-- Bloque para el título de la página -->
{% block title %}Editar Usuario{% endblock %}
<!-- Bloque para el encabezado de la página -->
{% block header %}Editar Usuario{% endblock %}
<!-- Bloque para el contenido principal de la página -->
{% block content %}

<div class="row">
     <div class="col">
          <!-- Título principal de la sección de edición de usuario -->
          <h1 class="text-center">Editar Usuario</h1>
          <!-- Línea divisoria -->
          <hr class="featurette-divider">
     </div>
</div>

<div class="row">
     <div class="col-md-8 offset-md-2">
          <!-- Formulario para editar el usuario -->
          <form method="post">
               <!-- Token de protección CSRF -->
               {% csrf_token %}
               <!-- Formulario del cliente con campos renderizados automáticamente -->
               {{ persona_form.as_p }}
               <button type="submit" class="btn btn-primary">Guardar cambios</button>
               <!-- Enlace para cancelar la edición y volver a la lista de usuario -->
               <a href="{% url 'usuario_list' %}" class="btn btn-secondary">Cancelar</a>
          </form>
     </div>
</div>

{% endblock %}