<!-- Extiende la plantilla base del dashboard -->
{% extends 'accounts/base_dashboard.html' %}
<!-- Carga las etiquetas estáticas de Django -->
{% load static %}
<!-- Bloque para el título de la página -->
{% block title %}Eliminar Usuario{% endblock %}
<!-- Bloque para el encabezado de la página -->
{% block header %}Eliminar Usuario{% endblock %}
<!-- Bloque para el contenido principal de la página -->
{% block content %}

<div class="container mt-4">
     <!-- Título principal de la sección de eliminación de usuario -->
     <h1 class="text-center">¿Estás seguro de que deseas eliminar este usuario?</h1>
     <!-- Línea divisoria -->
     <hr />
     <!-- Mensaje de alerta importante -->
     <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>¡Atención!</strong> Este es un mensaje de alerta importante.
          <!-- Botón para cerrar el mensaje de alerta -->
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">&times;</button>
     </div>
     <!-- Formulario para confirmar la eliminación del usuario -->
     <form method="post">
          <!-- Token de protección CSRF -->
          {% csrf_token %}
          <div class="form-group mt-4">
               <!-- Información del usuario -->
               <p><strong>Username:</strong> {{ usuario.username }}</p>
               <p><strong>Nombre :</strong> {{ usuario.first_name }} {{ usuario.last_name }}</p>
               <!-- Botones para confirmar la eliminación o cancelar -->
               <div class="form-group text-right mt-4">
                    <!-- Botón para confirmar la eliminación del usuario -->
                    <input type="submit" class="btn btn-danger" value="Eliminar" />
                    <!-- Enlace para cancelar la eliminación y volver a la lista de usuarios -->
                    <a href="{% url 'usuario_list' %}" class="btn btn-secondary">Cancelar</a>
               </div>
          </div>
     </form>
</div>

{% endblock %}
