{% extends 'accounts/base_dashboard.html' %}
{% load static %}
{% block title %}Usuarios{% endblock %}
{% block header %}Usuarios{% endblock %}
{% block content %}
<!-- TITULO -->
<h1 class="text-center">Usuarios del Sistema</h1>
<hr class="featurette-divider">

<!-- BUSCADOR -->
<div class="row mb-3 justify-content-center">
    <div class="col-md-6">
        <div class="input-group mb-3">
            <input type="text" id="searchInput" class="form-control" placeholder="Buscar usuario..." onkeyup="filterTable('searchInput', 'usuariosTable')">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" onclick="filterTable('searchInput', 'usuariosTable')">Buscar</button>
            </div>
        </div>
    </div>
</div>

<!-- ENTRADA DE BUSQUEDA -->
<div class="row mb-3 justify-content-end">
    <div class="col-auto">
        <!-- Botón para abrir el modal de creación de nuevo cliente -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createUsuarioModal"> Añadir Usuario </button>
    </div>
</div>

<!-- SECCION DE LISTADO DE USUARIOS -->
<div class="">
    <div class="table-responsive" style="max-height: 75vh; overflow-y: auto;">
        <table id="usuariosTable" class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Username</th>
                    <th>Correo</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Celular</th>
                    <th>Rol</th>
                    <th colspan="2">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for c in usuarios %}
                <tr>
                    <td>{{ c.username }}</td>
                    <td>{{ c.email }}</td>
                    <td>{{ c.first_name }}</td>
                    <td>{{ c.last_name }}</td>
                    <td>{{ c.celular }}</td>
                    <td>{{ c.rol }}</td>
                    <td><a href="{% url 'usuario_edit' c.username %}" class="btn btn-primary btn-sm">Editar</a></td>
                    <td><a href="{% url 'usuario_delete' c.username %}" class="btn btn-danger btn-sm">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Modal para crear un nuevo usuario -->
<div class="modal fade" id="createUsuarioModal" tabindex="-1" aria-labelledby="createUsuarioLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- Título del modal -->
                <h5 class="modal-title" id="createUsuarioLabel">Crear Nuevo Usuario</h5>
                <!-- Botón para cerrar el modal -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Formulario para crear un nuevo cliente -->
            <form method="post" action="{% url 'usuario_create' %}">
                <!-- Token de protección CSRF -->
                {% csrf_token %}
                <div class="modal-body">
                    <!-- Formulario del cliente -->
                    {{ form.as_p }}
                </div>
                <div class="modal-footer">
                    <!-- Botón para cancelar la creación del cliente -->
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <!-- Botón para enviar el formulario y crear el cliente -->
                    <button type="submit" class="btn btn-success">Crear Cliente</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}